<form id="loginForm" action="{{ site.data.endpoint[0].host }}/token" method="post" autocomplete="off" novalidate>
	<div class="mb-3">
		<label class="form-label">Indirizzo email</label>
		<input type="email" class="form-control" name="username" placeholder="latua@email.com" autocomplete="off">
	</div>
	<div class="mb-2">
		<label class="form-label">
			Password
			<span class="form-label-description">
                <a href="{{ site.base }}/forgot-password.html">Password dimenticata</a>
            </span>
		</label>
		<input type="password" class="form-control" name="password" placeholder="La tua password" autocomplete="off">
	</div>
	<div id="errorMessage" class="alert alert-danger" style="display: none;">
		Username o password non validi.
	</div>
	<div id="successMessage" class="alert alert-success" style="display: none;">
		Accesso riuscito.
	</div>
	<div class="form-footer">
		<button type="submit" class="btn btn-primary w-100">Entra</button>
	</div>
</form>

<script>
	document.getElementById('loginForm').addEventListener('submit', function (event) {
		event.preventDefault();

		// Perform the form submission using Fetch or XMLHttpRequest
		fetch('{{ site.data.endpoint[0].host }}/token', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
			},
			body: new URLSearchParams(new FormData(event.target)).toString(),
		})
			.then(response => {
				if (response.ok) {
					// Parse and store the access token in localStorage
					return response.json();
				} else {
					throw new Error('Authentication failed');
				}
			})
			.then(data => {
				// Store the access token in localStorage
				sessionStorage.setItem('access_token', data.access_token);
				document.getElementById('errorMessage').style.display = 'none';
				// Redirect or perform additional actions as needed
				window.location.href = '/';
			})
			.catch(error => {
				console.error('Error during authentication:', error);
				document.getElementById('errorMessage').style.display = 'block';
			});
	});

	function showErrorMessage(message) {
		// Create a div element for the error message
		var errorMessage = document.createElement('div');
		errorMessage.classList.add('alert', 'alert-danger');
		errorMessage.textContent = message;

		// Append the error message to the form
		var formFooter = document.querySelector('.form-footer');
		formFooter.appendChild(errorMessage);
	}

</script>
