<div class="card">
	<div class="card-header d-flex justify-content-between align-items-center" style="height: 5em">
		<h3 class="card-title">Tutti</h3>
		<div class="col-7 col-sm-4 col-md-2 col-xl-auto py-3">
			<a href="#" class="btn w-100 btn-icon" aria-label="Aggiorna">
				{% include ui/icon.html icon="refresh"%}
			</a>
		</div>
	</div>
	<div class="card-body border-bottom py-3">

		<div class="d-flex">
			<div class="text-secondary">
				Mostra
				<div class="mx-2 d-inline-block">
					<input id="display_n_results" type="text" class="form-control form-control-sm" value="20" size="3"
							 aria-label="DDLs count">
				</div>
				elementi
			</div>

			<div class="ms-auto text-secondary">
				Cerca:
				<div class="ms-2 d-inline-block">
					<input type="text" class="form-control form-control-sm" aria-label="Search ddl">
				</div>
			</div>
		</div>

	</div>
	<div class="table-responsive" style="width: fit-content">

		<table class="table card-table table-vcenter text-nowrap datatable">
			<style>
				/* Style for regular td elements */
				.table td, .table th {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.table td.ramo, .table th.ramo {
					max-width: 40px;
				}

				.table td.numero_fase, .table th.numero_fase {
					max-width: 60px;
				}

				/* Style for long_td elements that inherit from the regular td style */
				.table td.titolo, .table th.titolo {
					min-width: 50px;
					max-width: 615px;
				}

				.table td.presentatori, .table th.presentatori {
					max-width: 210px;
				}

				.table td.nome_gruppo, .table th.nome_gruppo {
					max-width: 108px;
				}

				.table td.stato_ddl_semp, .table th.stato_ddl_semp {
					max-width: 69px;
				}

				.table td.data_stato_ddl, .table th.data_stato_ddl {
					max-width: 137px;
				}

				.table td.seguito, .table th.seguito {
					max-width: 67px;
				}

			</style>
			<thead>
			<tr>
				<th class="ramo">{% include parts/dropdown/filter_ramo.html %}</th>
				<th class="numero_fase">{% include ui/icon.html icon="chevron-up" class="icon-sm icon-thick" %}</th>
				<th class="titolo">Titolo{% include ui/icon.html icon="chevron-up" class="icon-sm icon-thick" %}</th>
				<th class="presentatori">1º firm.{% include ui/icon.html icon="chevron-up" class="icon-sm icon-thick" %}
				</th>
				<th class="nome_gruppo">Gruppo{% include ui/icon.html icon="chevron-up" class="icon-sm icon-thick" %} {%
					include
					parts/dropdown/filter_gruppo.html %}
				</th>
				<th class="stato_ddl_semp">{% include ui/icon.html icon="chevron-up" class="icon-sm icon-thick" %} {%
					include
					parts/dropdown/filter_stato.html %}
				</th>
				<th class="data_stato_ddl">Ultimo agg.{% include ui/icon.html icon="chevron-up" class="icon-sm icon-thick"
					%} {% include
					parts/dropdown/filter_actions.html %}
				</th>

				<th class="seguito">Segui</th>
			</tr>

			</thead>


			<tbody id="iters_table_body">

			<tr id="templateRow" style="display: none;">
				<td id="ramo" class="ramo">S</td>
				<td id="numero_fase" class="numero_fase"><a href="https://www.senato.it/leg/19/BGT/Schede/Ddliter/00000.htm"
																		  target="_blank">000</a></td>
				<td id="titolo" class="titolo" title="">
					Ratifica ed esecuzione dell'Accordo tra la Repubblica italiana e la Repubblica di San Marino
				</td>
				<td id="presentatori" class="presentatori" title="">
					Giancarlo Giorgetti
				</td>
				<td id="nome_gruppo" class="nome_gruppo" title="">
					PD
				</td>
				<td id="stato_ddl_semp" class="stato_ddl_semp" title="Esito positivo">
					<span class="badge bg-blue me-1"></span>
				</td>
				<td id="data_stato_ddl" class="data_stato_ddl"> 15 Gen 24</td>

				<td id="seguito" class="seguito">
					<a href="#" class="btn w-100 btn-icon" aria-label="seguito">{% include ui/icon.html icon="plus"%}</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer d-flex align-items-center" style="display: none">
		<!--		<p class="m-0 text-secondary"> <span id="num_displayed_results">50</span> risultati di <span id="num_total_results">100</span>-->
		{% include asimov_cards/iters_table_pagination.html class="m-0 ms-auto" %}</p>

	</div>
</div>

<script>

	var ddls = [];

	var fields = ['ramo', 'numero_fase', 'titolo', 'presentatori', 'nome_gruppo', 'stato_ddl_semp', 'data_stato_ddl', 'seguito'];
	var base_addresses = {
		'C': 'https://www.camera.it/leg19/126?tab=&leg=19&idDocumento={numero_fase}',
		'S': 'https://www.senato.it/leg/19/BGT/Schede/Ddliter/{id_fase}.htm'
	}
	var stata_ddl = {
		'In corso': {'classList': "badge bg-green m-2", "title": "In corso"},
		'Esito positivo': {'classList': 'badge bg-blue m-2', 'title': 'Esito positivo'},
		'Esito negativo': {'classList': 'badge bg-muted m-2', 'title': 'Esito negativo'}
	}

	function formatDate(dateString) {
		var date = new Date(dateString);
		var options = {day: 'numeric', month: 'short', year: 'numeric'};
		var formattedDate = new Intl.DateTimeFormat('it-IT', options).format(date);
		return formattedDate;
	}

	function update_cell(element, item, field) {
		try {
			switch (field) {
				case 'numero_fase':
					var anchorElement = element.querySelector("a");
					base_address = base_addresses[item['ramo']]
					if (item['ramo'] == 'C') {
						anchorElement.href = base_addresses['C'].replace('{numero_fase}', item.numero_fase);
					} else {
						anchorElement.href = base_addresses['S'].replace('{id_fase}', item.id_fase);
					}
					anchorElement.textContent = item[field]
					break;
				// throw new Error('Custom error message for numero_fase');
				case 'stato_ddl_semp':
					var spanElement = element.querySelector('span');
					var status = stata_ddl[item[field]];
					spanElement.classList = status['classList'];
					element.title = status['title'];
					break;
				case 'data_stato_ddl':
					element.textContent = formatDate(item[field]);
					break
				case 'seguito':
					break
				default:
					element.textContent = item[field];
			}
		} catch (e) {

		}


	}

	function fill_table() {

		// Pagination
		// var page = document.querySelector('.pagination .active a').dataset.page || 1;
		var page = null;
		var storedActiveItem = localStorage.getItem('active_item');
		if (storedActiveItem) {
			page = parseInt(storedActiveItem, 10);
		} else {
			page = 1;
			updatePaginationUI(page)
		}

		// Num results to display
		var num_results = document.getElementById('display_n_results').value
		num_results = parseInt(num_results, 10);

		// Slice
		var startIndex = (page - 1) * num_results;
		var endIndex = page * num_results;
		var pageData = ddls.slice(startIndex, endIndex);

		var tbody = document.getElementById('iters_table_body');
		var templateRow = document.getElementById('templateRow');
		// Remove all children using a loop
		while (tbody.children.length > 1) {
			tbody.removeChild(tbody.lastChild);
		}


		// Fill a row
		pageData.forEach(function (item) {
			// Fill a column
			// Clone the template row
			var tr = templateRow.cloneNode(true);
			while (tr.firstChild) {
				tr.removeChild(tr.firstChild);
			}
			tr.removeAttribute('style');
			tr.removeAttribute('id');

			fields.forEach(function (field) {
				var template = document.getElementById(field);
				var newElement = template.cloneNode(true);
				newElement.removeAttribute('id');
				update_cell(newElement, item, field)
				tr.appendChild(newElement);
			});
			// var num_displayed_results = document.getElementById('num_displayed_results')
			// num_displayed_results.textContent = tbody.childElementCount
			// var num_total_results = document.getElementById('num_total_results')
			// num_total_results.textContent = ddls.length


			tbody.appendChild(tr);
		});

		var tds = document.querySelectorAll('.table td'); // Select all td elements
		for (var i = 0; i < tds.length; i++) {
			var td = tds[i];
			if (td.offsetWidth < td.scrollWidth && !td.title) {
				td.title = td.textContent;
			}
		}

	}

	function fetch_data(order_by) {
		// Function to get the selected options from the dropdowns
		function getSelectedOptions(selector) {
			var selectedOptions = [];
			document.querySelectorAll(selector + ' input[type=checkbox]:checked').forEach(function (checkbox) {
				selectedOptions.push(checkbox.value);
			});
			return selectedOptions;
		}

		// // Get the limit from the form
		// var limit = document.querySelector('input[aria-label="DDLs count"]').value;

		// Get the keyword from the form
		var keyword = document.querySelector('input[aria-label="Search ddl"]').value;


		// Get the selected options from the dropdowns
		var options = {
			// Assuming the dropdowns have class 'dropdown-filter'
			ramo: getSelectedOptions('div.dropdown-menu'),
			presentatore: getSelectedOptions('.dropdown-filter.filter_actions'),
		};

		// Prepare the data for the API request
		var data = {
			options: options,
			order_by: order_by
		};

		var data_debug = [{
			"id_fase": "57864",
			"ddl": "http://dati.senato.it/ddl/57864",
			"titolo": "Conversione in legge del decreto-legge 18 gennaio 2024, n. 4, recante disposizioni urgenti in materia di amministrazione straordinaria delle imprese di carattere strategico",
			"stato_ddl": "assegnato (no esame)",
			"data_stato_ddl": "2024-01-19",
			"tipo_iniziativa": "Governativa",
			"id_iter": "53411",
			"assegnazione": null,
			"relatore": null,
			"data_presentazione": null,
			"fase": null,
			"legislatura": null,
			"natura": "di conversione di decreto-legge",
			"numero_fase": "986",
			"numero_fase_compatto": null,
			"presentato_trasmesso": "presentato",
			"progressivo_iter": "1",
			"ramo": "S",
			"testo_presentato": "urn:nir:senato.repubblica:disegno.legge:19.legislatura;986",
			"testo_approvato": null,
			"primo_firmatario": "1",
			"senatore": null,
			"presentatori": 'Sen. Silvio Berlusconi'
		}];
		var debug = false
		if (debug) {
			ddls = data_debug
			fill_table()
		} else {
			// Perform the API request
			var endpoint = 'http://127.0.0.1:8000/users/me/fetch_personalized_iters/'
			if (keyword) {
				endpoint += '?keyword=' + keyword
			}
			fetch(endpoint, {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					// Assuming the token is stored in a meta tag
					'Authorization': 'Bearer ' + localStorage.getItem('access_token'),
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			})
				.then(response => response.json())
				.then(responseData => {
					// Handle the response
					console.log(responseData);
					ddls = responseData
					fill_table()

				})
				.catch(error => {
					// Handle the error
					console.error(error);
				});
		}

	}


	document.addEventListener("DOMContentLoaded", function () {
		fetch_data({
			field: "data_stato_ddl",
			desc: true
		})
	});
	document.addEventListener("DOMContentLoaded", updatePaginationUI);

	// document.addEventListener("DOMContentLoaded", function () {
	// 	fill_table();
	// });

</script>