<div class="card">

	<div class="card-body">

		<div class="d-flex align-items-center">
			<div class="subheader"></div>
			<div class="card-actions btn-actions">
				{% if False %}
					{% include ui/icon.html icon="x" %}
				{% endif %}
				{% include parts/dropdown/iter_actions.html %}
			</div>
		</div>

		<a href="#">
		<div class="h1 mb-3">{{include.title}}</div>
		</a>


		<div class="d-flex mb-2">
			<div>Esame in commissione</div>
			<div class="ms-auto">
				{% if False %}
				{% include ui/trending.html value=7 %}
				{% endif %}

			</div>
		</div>

		{% include ui/progress.html value=75 color="primary" size="sm" %}
	</div>
</div>
