<div class="card">
	<div class="card-header d-flex justify-content-between align-items-center" style="height: 5em">
		<h3 class="card-title">Tutti</h3>
		<div class="col-7 col-sm-4 col-md-2 col-xl-auto py-3">
			<a id="refresh" href="javascript:void(0);" onclick="fetch_table({field: 'data_stato_ddl', desc: true})" class="btn w-100 btn-icon" aria-label="Aggiorna">
				{% include ui/icon.html icon="refresh"%}
			</a>
		</div>
	</div>
	<div class="card-body border-bottom py-3">

		<div class="d-flex">
			<div class="text-secondary">
				Mostra
				<div class="mx-2 d-inline-block">
					<input id="display_n_results" type="text" class="form-control form-control-sm" value="20" size="3"
							 aria-label="DDLs count">
				</div>
				elementi
			</div>

			<div class="ms-auto text-secondary">
				Cerca
				<div class="ms-2 d-inline-block">
					<input type="text" class="form-control form-control-sm" aria-label="Search ddl" id="searchInput">
				</div>
			</div>
		</div>

	</div>
	<div class="table-responsive" style="width: fit-content">

		<table class="table card-table table-vcenter text-nowrap datatable">



			<style>
				.table tr {
					max-height: 3.6em;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}


				/* Style for regular td elements */
				.table td, .table th {
					max-height: 3.6em;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.table td.ramo, .table th.ramo {
					max-width: 3em;
				}

				.table td.numero_fase, .table th.numero_fase {
					max-width: 4.2em;
				}

				/* Style for long_td elements that inherit from the regular td style */
				.table td.titolo, .table th.titolo {
					/*min-width: 50vw;*/
					/*max-width: 50vw;*/
					max-height: 2em;
					height: 2em;
					min-height: 2em;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: normal;
				}

				.table td.presentatore, .table th.presentatore {
					max-width: 15em;
				}

				.table td.nome_gruppo, .table th.nome_gruppo {
					max-width: 12em;
				}

				.table td.stato_ddl_semp, .table th.stato_ddl_semp {
					max-width: 6em;
				}

				.table td.data_stato_ddl, .table th.data_stato_ddl {
					max-width: 14em;
				}

				.table td.seguito, .table th.seguito {
					max-width: 5em;
					text-align: right;
				}

			</style>
			<thead>
			<tr>
				<th class="ramo">{% include parts/dropdown/filter_ramo.html %}</th>
				<th class="numero_fase">
					<a class="text-decoration-none text-reset" href="javascript:void(0);" desc="true" 
					onclick="switchSortingAttribute(this); fill_table(sort_ddls(ddls, 'numero_fase', this.getAttribute('desc'), 'int'));" 
					aria-haspopup="true" aria-expanded="false">
						{% include ui/icon.html icon="selector" class="icon-sm icon-thick" %}
					</a>
				</th>
				<th class="titolo">Titolo
					<a class="text-decoration-none text-reset" href="javascript:void(0);" desc="true" 
					onclick="switchSortingAttribute(this); fill_table(sort_ddls(ddls, 'titolo', this.getAttribute('desc')));" 
					aria-haspopup="true" aria-expanded="false">
					{% include ui/icon.html icon="selector" class="icon-sm icon-thick" %}
					</a>
				</th>
				<th class="presentatore">1º firm.
					<a class="text-decoration-none text-reset" href="javascript:void(0);" desc="true" 
					onclick="switchSortingAttribute(this); fill_table(sort_ddls(ddls, 'presentatore', this.getAttribute('desc')));" 
					aria-haspopup="true" aria-expanded="false">
						{% include ui/icon.html icon="selector" class="icon-sm icon-thick" %}
					</a>
				</th>
				<th class="nome_gruppo">Iniziativa
					<a class="text-decoration-none text-reset" href="javascript:void(0);" desc="true" 
					onclick="switchSortingAttribute(this); fill_table(sort_ddls(ddls, 'nome_gruppo', this.getAttribute('desc')));" 
					aria-haspopup="true" aria-expanded="false">
						{% include ui/icon.html icon="selector" class="icon-sm icon-thick" %}
					</a> 
					{% include parts/dropdown/filter_nome_gruppo.html %}
				</th>
				<th class="stato_ddl_semp">
					{% include parts/dropdown/filter_stato_ddl.html %}
				</th>
				<th class="data_stato_ddl">
					Ultimo agg.
					<a class="text-decoration-none text-reset" href="javascript:void(0);" desc="true" 
					onclick="switchSortingAttribute(this); fill_table(sort_ddls(ddls, 'data_stato_ddl', this.getAttribute('desc')));" 
					aria-haspopup="true" aria-expanded="false">
						{% include ui/icon.html icon="selector" class="icon-sm icon-thick" %}
					</a>
					{% include parts/dropdown/filter_data.html %}
				</th>

				<th class="seguito">Segui</th>
			</tr>

			</thead>


			<tbody id="iters_table_body">

			<tr id="templateRow" style="display: none;">
				<td id="ramo" class="ramo">S</td>
				<td id="numero_fase" class="numero_fase"><a href="https://www.senato.it/leg/19/BGT/Schede/Ddliter/00000.htm"
																		  target="_blank">000</a></td>
				<td id="titolo" class="titolo" title="">
					Ratifica ed esecuzione dell'Accordo tra la Repubblica italiana e la Repubblica di San Marino
				</td>
				<td id="presentatore" class="presentatore" title="">
					Giancarlo Giorgetti
				</td>
				<td id="nome_gruppo" class="nome_gruppo" title="">
					PD
				</td>
				<td id="stato_ddl_semp" class="stato_ddl_semp" title="Esito positivo">
					<i class="ti ti-arrow-big-right-lines"></i>
				</td>
				<td id="data_stato_ddl" class="data_stato_ddl"> 15 Gen 24</td>

				<td id="seguito" class="seguito">
					<a class="btn w-100 btn-icon" aria-label="plus">{% include ui/icon.html icon="plus"%}</a>
					<a class="btn w-100 btn-icon" aria-label="minus" style="display: none">{% include ui/icon.html icon="x"%}</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer d-flex align-items-center" style="display: none">
				<p class="m-0 text-secondary"> Pagina <span id="page_label">1</span>
		{% include asimov_cards/iters_table_pagination.html class="m-0 ms-auto" %}</p>

	</div>
</div>

<script>


	var searchInput= document.querySelector('#searchInput');
	searchInput.onkeydown = function (event){ if (event.key === 'Enter') {fetch_table({field: 'data_stato_ddl', desc: true});}} 

	var ddls = [];

	var fields = ['ramo', 'numero_fase', 'titolo', 'presentatore', 'nome_gruppo', 'stato_ddl_semp', 'data_stato_ddl', 'seguito'];
	var base_addresses = {
		'C': 'https://www.camera.it/leg19/126?tab=&leg=19&idDocumento={numero_fase}',
		'S': 'https://www.senato.it/leg/19/BGT/Schede/Ddliter/{id_fase}.htm'
	}
	var stata_ddl = {
		'In corso': {'component_id': "icon_in_corso", "title": "In corso"},
		'Esito positivo': {'component_id': 'icon_esito_positivo', 'title': 'Esito positivo'},
		'Esito negativo': {'component_id': 'icon_esito_negativo', 'title': 'Esito negativo'},
		"Trasmesso all'altro ramo": {'component_id': 'icon_trasmesso', 'title': "Trasmesso all'altro ramo"}
	}

	function ellipse(str, num) {
		if (str.length <= num) {
			return str;
		}
		return str.substring(0, num) + '...';
	}

	function switchSortingAttribute(element) {
		var isDesc = element.getAttribute('desc');
		var newOrder = isDesc === 'true' ? 'false' : 'true';
		element.setAttribute('desc', newOrder);
	}

	function sort_ddls(ddls, field, desc = 'false', type_ = null) {
		desc = desc === 'true' ? false : true;
		ddls.sort(function(ddl1, ddl2) {
			f1 = ddl1[field];
			f2 = ddl2[field];
			if(type_ == 'int'){
				f1 = parseInt(f1);
				f2 = parseInt(f2);
			}
			if (desc){
				return f1 > f2; 
			}
			else{
				return f1 < f2;
			}
		});
		return ddls;
	}

	function formatDate(dateString) {
		var date = new Date(dateString);
		var options = {day: 'numeric', month: 'short', year: 'numeric'};
		var formattedDate = new Intl.DateTimeFormat('it-IT', options).format(date);
		return formattedDate;
	}

	function switch_follow_button(element) {
		// Get the "plus" and "minus" buttons
		var plusButton = element.querySelector('.seguito a[aria-label="plus"]');
		var minusButton = element.querySelector('.seguito a[aria-label="minus"]');

		// Toggle the visibility
		if (plusButton.style.display === 'none') {
			plusButton.style.display = '';
			minusButton.style.display = 'none';
		} else {
			plusButton.style.display = 'none';
			minusButton.style.display = '';
		}
	}

	function update_cell(element, item, field) {
		try {
			switch (field) {
				case 'numero_fase':
					var anchorElement = element.querySelector("a");
					base_address = base_addresses[item['ramo']]
					if (item['ramo'] == 'C') {
						anchorElement.href = base_addresses['C'].replace('{numero_fase}', item.numero_fase);
					} else {
						anchorElement.href = base_addresses['S'].replace('{id_fase}', item.id_fase);
					}
					anchorElement.textContent = item[field]
					break;
				// throw new Error('Custom error message for numero_fase');
				case 'titolo':
					// element.textContent = ellipse(item[field], 130);
					element.textContent = item[field], 130;
					element.title = item[field]
					break
				case 'nome_gruppo':
					// var anchorElement = element.querySelector("a");
					element.textContent = item['nome_gruppo']
					break
				case 'stato_ddl_semp':
					var status = stata_ddl[item[field]];
					var templateIcon = document.getElementById(status['component_id']);
					var icon = templateIcon.cloneNode(true);
					// Remove all children using a loop
					while (element.children.length > 1) {
						element.removeChild(element.lastChild);
					}
					element.appendChild(icon);
					element.title = status['title'];
					break;
				case 'data_stato_ddl':

					element.textContent = formatDate(item[field]);
					break
				case 'seguito':
					// var anchorElement = element.querySelector("a");
					if(item['stato_ddl_semp'] != 'In corso'){
						element.querySelector('.seguito a[aria-label="plus"]').classList.add('disabled');
						return
					}
					console.log(item[field])
					if(item[field]===true){
						switch_follow_button(element)
					}
					element.onclick = function() {
						console.log(`item[field] is ${item[field]}`)
						var success = false
						followIter(item['id_iter'], item[field]).then(result => {
							console.log(`result is ${result}`);
							success = result;

							if (success) {
								console.log(`success is ${success}`)
								item[field] = !item[field];
								switch_follow_button(this);
								fill_tiles();
								console.log(`I switched ${this}`)
							}
						});
					};

					break
				default:
					element.textContent = item[field];
			}
		} catch (e) {

		}


	}

	function get_current_page(){
		var storedActiveItem = localStorage.getItem('table_page');
		if (storedActiveItem) {
			page = parseInt(storedActiveItem, 10);
		} else {
			page = 1;
			localStorage.setItem('table_page', 1);
			updatePaginationUI()
		}
		return page
	}

	function fill_table(ddls) {

		// Pagination
		// var page = document.querySelector('.pagination .active a').dataset.page || 1;
		var page = get_current_page();


		// Num results to display
		var num_results = document.getElementById('display_n_results').value
		num_results = parseInt(num_results, 10);

		// Slice
		var startIndex = (page - 1) * num_results;
		var endIndex = page * num_results;
		var pageData = ddls.slice(startIndex, endIndex);

		var tbody = document.getElementById('iters_table_body');
		var templateRow = document.getElementById('templateRow');
		// Remove all children using a loop
		while (tbody.children.length > 1) {
			tbody.removeChild(tbody.lastChild);
		}

		// Fill a row
		pageData.forEach(function (item) {
			// Fill a column
			// Clone the template row
			var tr = templateRow.cloneNode(true);
			while (tr.firstChild) {
				tr.removeChild(tr.firstChild);
			}
			tr.removeAttribute('style');
			tr.removeAttribute('id');

			fields.forEach(function (field) {
				var template = document.getElementById(field);
				var newElement = template.cloneNode(true);
				newElement.removeAttribute('id');
				update_cell(newElement, item, field)
				tr.appendChild(newElement);
			});
			tbody.appendChild(tr);
		});

		var tds = document.querySelectorAll('.table td'); // Select all td elements
		for (var i = 0; i < tds.length; i++) {
			var td = tds[i];
			if (td.offsetWidth < td.scrollWidth && !td.title) {
				td.title = td.textContent;
			}
		}

	}

	var followed_ongoing_iters;


	function fill_tiles(){

		var tcontainer = document.getElementById('tilesContainer');
		var tileTemplate = document.getElementById('tileTemplate');
		// Remove all children of the same class of tileTemplate
		var templateClass = document.getElementById('tileTemplate').className;
		var elementsToRemove = tcontainer.querySelectorAll('.' + templateClass.replace(' ', '.'));
		elementsToRemove.forEach(function(element) {
			tcontainer.removeChild(element);
		});

		// Fill tiles
		followed_ongoing_iters.forEach(function (item) {
				ddl = item.ddls[0]   // we assume they are orderd chronologically
				var newTile = tileTemplate.cloneNode(true);
				newTile.removeAttribute('style');
				newTile.removeAttribute('id');
				newTile.querySelector('.h1.mb-3').textContent = 'A' + ddl['ramo'] + ddl['numero_fase']
				newTile.querySelector('[data-query-id="status"]').textContent = ddl['stato_ddl']
				tcontainer.insertBefore(newTile, tcontainer.lastElementChild);
				if(item.ddls.length>1){
					previous_ddl = item.ddls[1]
					newTile.querySelector('.subheader').textContent = 'Prec. A' + previous_ddl['ramo'] + previous_ddl['numero_fase']
				}
		});
		
	}

	function fetch_tiles(){
		var endpoint = '{{ site.data.endpoint[0].host }}/users/me/fetch_ongoing_followed_iters/'
		return 	fetch(endpoint, {
				method: 'GET',
				headers: {
					'Accept': 'application/json',
					// Assuming the token is stored in a meta tag
					'Authorization': 'Bearer ' + sessionStorage.getItem('access_token'),
					'Content-Type': 'application/json'
				},
			})
				.then(response => {
					// Check if the request was successful
					if (!response.ok) {
						// Check if the error is related to authentication (401 Unauthorized)
						if (response.status === 401) {
							window.location.href = '/sign-in.html';
							throw new Error('Authentication error: Unauthorized');
						}
						throw new Error(`HTTP error! status: ${response.status}`);
					}
					return response.json();
				})
				.then(responseData => {
					// Handle the response
					console.log(responseData);
					followed_ongoing_iters = responseData
					fill_tiles()

				})
				.catch(error => {
					// Handle the error
					console.log(error.message);
				});
	}


		
	function fetch_table(order_by) {
		// Function to get the selected options from the dropdowns
		function getSelectedOptions(selector) {
			var selectedOptions = [];
			document.querySelectorAll(selector + ' input[type=checkbox]:checked').forEach(function (checkbox) {
				selectedOptions.push(checkbox.value);
			});
			return selectedOptions;
		}

		// // Get the limit from the form
		// var limit = document.querySelector('input[aria-label="DDLs count"]').value;

		// Get the keyword from the form
		var keyword = searchInput.value;


		// Get the selected options from the dropdowns
		var options = {
			// Assuming the dropdowns have class 'dropdown-filter'
			ramo: getSelectedOptions('#ramo_dropdown'),
			nome_gruppo: getSelectedOptions('#nome_gruppo_dropdown'),
			stato_ddl: getSelectedOptions('#stato_ddl_dropdown'),
		};

		// Prepare the data for the API request
		var data = {
			options: options,
			order_by: order_by
		};

		var data_debug = [{ "id_fase": "57864", "ddl": "http://dati.senato.it/ddl/57864", "titolo": "Conversione in legge del decreto-legge 18 gennaio 2024, n. 4, recante disposizioni urgenti in materia di amministrazione straordinaria delle imprese di carattere strategico", "stato_ddl": "assegnato (no esame)", "data_stato_ddl": "2024-01-19", "tipo_iniziativa": "Governativa", "id_iter": "53411", "assegnazione": null, "relatore": null, "data_presentazione": null, "fase": null, "legislatura": null, "natura": "di conversione di decreto-legge", "numero_fase": "986", "numero_fase_compatto": null, "presentato_trasmesso": "presentato", "progressivo_iter": "1", "ramo": "S", "testo_presentato": "urn:nir:senato.repubblica:disegno.legge:19.legislatura;986", "testo_approvato": null, "primo_firmatario": "1", "senatore": null, "presentatore": 'Sen. Silvio Berlusconi' }];
		var debug = false
		if (debug) {
			ddls = data_debug
			fill_table(ddls)
		} else {
			// Perform the API request
			var endpoint = '{{ site.data.endpoint[0].host }}/users/me/fetch_personalized_iters/'
			if (keyword) {
				endpoint += '?keyword=' + keyword
			}
			fetch(endpoint, {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					// Assuming the token is stored in a meta tag
					'Authorization': 'Bearer ' + sessionStorage.getItem('access_token'),
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			})
				.then(response => {
					// Check if the request was successful
					if (!response.ok) {
						// Check if the error is related to authentication (401 Unauthorized)
						if (response.status === 401) {
							window.location.href = '/sign-in.html';
							throw new Error('Authentication error: Unauthorized');
						}
						throw new Error(`HTTP error! status: ${response.status}`);
					}
					return response.json();
				})
				.then(responseData => {
					// Handle the response
					console.log(responseData);
					ddls = responseData
					fill_table(ddls)

				})
				.catch(error => {
					// Handle the error
					console.log(error.message);
				});
		}

	}


	document.addEventListener("DOMContentLoaded", function () {
		fetch_table({
			field: "data_stato_ddl",
			desc: true
		})
		fetch_tiles();
	});
	document.addEventListener("DOMContentLoaded", updatePaginationUI);

	// document.addEventListener("DOMContentLoaded", function () {
	// 	fill_table();
	// });

	function followIter(iterId, unfollow=false) {
		var path = 'follow_iter'
		if(unfollow){
			path = 'unfollow_iter'
		}

		return fetch(`{{ site.data.endpoint[0].host }}/users/me/${path}/?iter_id=` + iterId, {
			method: 'POST',
			headers: {
				'Accept': 'application/json',
				'Authorization': 'Bearer ' + sessionStorage.getItem('access_token'),
				'Content-Type': 'application/json'
			},
			// Add a request body if needed
			// body: JSON.stringify({}),
		})
			.then(response => {
				if (response.ok) {
					console.log(`Successfully ${path} iter ${iterId}`);
					return true;
				} else {
					console.error('Error:', response.statusText);
					return false;
				}
			})
			.catch(error => {
				// Handle other errors
				console.error('Error:', error);
				return false;
			});
	}

	function unfollowIter(iterId) {
		return followIter(iterId, true)
	}

</script>