{% assign limit = include.limit | default: 8 %}
{% assign offset = include.offset | default: 0 %}
{% assign hoverable = include.hoverable | default: false %}

<div class="card{% if include.class %} {{ include.class }}{% endif %}" style="width: 70vw;">
	<div class="card-header">
		<h3 class="card-title">{{ include.title | default: 'Progetti' }}</h3>
	</div>
	<div id="projects_list" class="list-group list-group-flush{% if hoverable %} list-group-hoverable{% endif %}">
        <div id="item_template" style="display: none;" class="list-group-item{% if checked-ids contains forloop.index %} active{% endif %}">
            <div class="row align-items-center">
                <a data-id="projectButton" class="col text-truncate" href="/app.html">
                    <div class="text-reset d-block">Nessun progetto presente, creane uno!</div>
                    <!-- <div class="d-block text-secondary text-truncate mt-n1"></div> -->
                </a>
                <a data-id="deleteButton" class="col-auto">
                    <span class="list-group-item-actions show text-secondary">{% include ui/icon.html icon="trash" %}</button>
                </a>
            </div>
        </div>
        <div id="void_template" style="display: none;" class="list-group-item{% if checked-ids contains forloop.index %} active{% endif %}">
            <div class="row align-items-center">
                <div data-id="projectButton" class="col text-truncate">
                    <div class="text-reset d-block">Nessun progetto presente, creane uno!</div>
                    <!-- <div class="d-block text-secondary text-truncate mt-n1"></div> -->
                </div>
            </div>
        </div>
        <div id="loading_template" style="display: none;" class="list-group-item{% if checked-ids contains forloop.index %} active{% endif %}">
            <div class="row align-items-center">
                <div class="col text-truncate">
                    <div class="text-reset d-block">Caricamento del progetto in corso</div>
                    <!-- <div class="d-block text-secondary text-truncate mt-n1"></div> -->
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-indeterminate bg-green"></div>
            </div>
        </div>
    </div>
</div>
<style>
    /* CSS to change cursor on hover */
    [data-id="deleteButton"]:hover {
        cursor: pointer; /* Changes the cursor to a pointer when hovering */
    }
</style>