{% include ui/modal/header.html title="Nuovo progetto" %}
{% assign reports = "Senato: ,Camera: " | split: "," %}

<div class="modal-body">
	<div class="mb-3" id="project_name_input">
		<label class="form-label">Nome</label>
		<input type="text" class="form-control" name="example-text-input" placeholder="Il nome del tuo progetto">
	</div>

<!--	<label class="form-label">Tipo di progetto</label>-->
<!--	<div class="form-selectgroup-boxes row mb-3">-->
<!--		{% for report in reports %}-->
<!--		{% assign r = report | split: ':' %}-->
<!--		<div class="col-lg-6">-->
<!--			<label class="form-selectgroup-item">-->
<!--				<input type="radio" name="report-type" value="{{ forloop.index }}" class="form-selectgroup-input" {% if forloop.index == 1 %} checked {% endif %}>-->
<!--				<span class="form-selectgroup-label d-flex align-items-center p-3">-->
<!--                    <span class="me-3">-->
<!--                        <span class="form-selectgroup-check"></span>-->
<!--                    </span>-->
<!--                    <span class="form-selectgroup-label-content">-->
<!--                        <span class="form-selectgroup-title strong mb-1">{{ r[0] }}</span>-->
<!--                        <span class="d-block text-secondary">{{ r[1] }}</span>-->
<!--                    </span>-->
<!--                </span>-->
<!--			</label>-->
<!--		</div>-->
<!--		{% endfor %}-->
<!--	</div>-->

<div>
	<label class="form-check form-check-inline">
	  <input id="radio-senato" class="form-check-input" data-institution="senato" type="radio" name="radios-inline">
	  <span class="form-check-label">Senato</span>
	</label>
	<label class="form-check form-check-inline">
	  <input id="radio-camera" class="form-check-input" data-institution="camera" type="radio" name="radios-inline">
	  <span class="form-check-label">Camera</span>
	</label>
  </div>

	<div class="row" id="provision-upload">
		<div class="col-lg-12">
			<div class="mb-3">
				<div class="form-label">Carica provvedimento (atto nel formato PDF ufficiale)</div>
				<input type="file" class="form-control">
			</div>
		</div>
	</div>

	<div class="row" id="amends-upload">
		<div class="col-lg-12">
			<div class="mb-3">
				<div class="form-label">Carica emendamenti (da ora anche Word, immagini o bozze non ufficiali!)</div>
				<input type="file" class="form-control">
			</div>
		</div>
	</div>
	<div class="row" id="submit_error" style="display: none;">
		{% include ui/alert.html type="danger" show-icon=true title="Compila tutti i campi correttamente"%}
	</div>
	
</div>




<div class="modal-footer">
	{% include ui/button.html text="Annulla" color="link link-secondary" dismiss=true %}
	{% include ui/button.html text="Crea nuovo progetto" icon="plus" color="primary" dismiss=true class="ms-auto" %}
</div>

<script>
	// document.addEventListener("DOMContentLoaded", function () {
	// 	// Add an event listener to radio buttons
	// 	var radioButtons = document.querySelectorAll('input[name="report-type"]');
	// 	radioButtons.forEach(function (radio) {
	// 		radio.addEventListener("change", function () {
	// 			// Hide both components by default
	// 			document.getElementById("pdf-upload").style.display = "none";
	// 			document.getElementById("url-input").style.display = "none";

	// 			// Show the selected component based on the radio button value
	// 			var selectedValue = this.value;
	// 			if (selectedValue === "1") {
	// 				document.getElementById("pdf-upload").style.display = "block";
	// 			} else if (selectedValue === "2") {
	// 				document.getElementById("url-input").style.display = "block";
	// 			}
	// 		});
	// 	});
	// });
	const projectNameInput = document.getElementById('project_name_input').querySelector('input')
	const radioSenato = document.getElementById('radio-senato')
	const radioCamera = document.getElementById('radio-camera')
	const provisionInput = document.getElementById('provision-upload').querySelector('input')
	const amendmentsInput = document.getElementById('amends-upload').querySelector('input')
	const submitErrorLabel = document.getElementById('submit_error')
	var newProjectButton = document.getElementsByClassName('btn ms-auto')[0]
	
	if(!radioSenato.checked && !radioCamera.checked){
		radioSenato.click()
	}

	function displayErrorLabel(){
		submitErrorLabel.style.display = 'block'
	}

	function hideErrorLabel(){
		submitErrorLabel.style.display = 'none'
	}

	function getSelectedInstitution(){
		var checkedButton = null
		if(radioSenato.checked){
			checkedButton = radioSenato;
		}
		else if(radioCamera.checked){
			checkedButton = radioCamera;
		}
		else{
			throw('Select at least one between Senato or Camera')
		}
		return checkedButton.dataset['institution']
	}

    newProjectButton.addEventListener('click', async function(event) {
        event.preventDefault(); // Prevent the default form submission
		var selectedInstitution = getSelectedInstitution();
		var isFormUncomplete = !projectNameInput.value | !selectedInstitution | provisionInput.files.length==0 | amendmentsInput.files.length == 0;
		if(isFormUncomplete){
			event.stopPropagation();
			displayErrorLabel();
			return 
		}
		hideErrorLabel()
        var formData = new FormData();
        formData.append('provision_file', provisionInput.files[0], provisionInput.files[0].name);
        formData.append('amendments_file', amendmentsInput.files[0], amendmentsInput.files[0].name);
		loadingProjectElement = addLoadingProject(projectNameInput.value)
        try {
            const response = await fetch(`{{ site.data.endpoint[0].host }}/users/me/projects/?project_name=${projectNameInput.value}&institution=${selectedInstitution}`, {
                method: 'POST',
                body: formData, // Send the form data
				headers: {
					'Accept': 'application/json',
					// 'Content-Type': 'application/x-www-form-urlencoded',
					'Authorization': `Bearer ${accessToken}`,
				},
            });
			loadingProjectElement.remove();
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const sanitizedProjectName = await response.json();
            console.log(sanitizedProjectName); // Handle success, maybe redirect or display a success message
			start_analysis(sanitizedProjectName)
        } catch (error) {
            console.error('Error during the API call', error);
        }
		fetchData();
    });

	async function start_analysis(projectName){

		var selectedInstitution = getSelectedInstitution();
		try {
			var endpoint = `{{ site.data.endpoint[0].host }}/users/me/projects/dossier_analysis/?project_name=${projectName}&institution=${selectedInstitution}`;
			// endpoint += `&mock=true`
            const response = await fetch(endpoint, {
                method: 'POST',
				headers: {
					'Accept': 'application/json',
					// 'Content-Type': 'application/x-www-form-urlencoded',
					'Authorization': `Bearer ${accessToken}`,
				},
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const result = await response.json();
            console.log(result); // Handle success, maybe redirect or display a success message
        } catch (error) {
            console.error('Error during the API call', error);
        } finally {

		}
	}




</script>