---
title: Emendamenti
page-header: Emendamenti
layout-sidebar: true
layout-navbar-transparent: true
layout-hide-topbar: true
page-header-actions: visualization-header
---


<script>
	document.documentElement.style.setProperty('--target-width', `84vw`);
</script>
<style>
	\\ TODO make these two like these everywhere .page-wrapper {
		margin-left: 19vw;
	}

	.container-xl {
		margin-left: 1vw;
		margin-right: 1vw;
	}

	\\ Dynamical half columns:root {
		--target-width: 84vw;
		/* Initial value, will be updated by JS */
	}

	.half-column {
		width: calc((var(--target-width) - 6vw)/ 2);
		/* width: 39vw */
	}

	.offcanvas-start {
		width: 8vw;
	}

	.offcanvas-backdrop {
		display: none;
	}

	.form-switch .icon {
		margin-right: 40px;
		float: right;
	}

	add {
		background: #cdff90;
	}

	rm {
		color: red;
		text-decoration: line-through;
	}

	.pad {
		margin: 5px;
	}

	.highlight {
		background-color: yellow;
	}

	.prototype {
		display: none;
	}

	.hidden {
		display: none;
	}
	
	.dropdown-scroll {
		max-height: 60vh;
	}

	.star-icon {
		cursor: pointer;
		stroke: currentColor;
		transition: color 0.3s ease;
	}

	.star-icon.selected {
		fill: currentColor;
	}

	
</style>

<div class="card" style="width: 84.2vw; height: 96vh">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs{% if reverse %} flex-row-reverse{% endif %}{% if include.justified %} nav-fill{% endif %}"
			data-bs-toggle="tabs">
			<li class="nav-item">
				<a href="#tabs-analysis" class="nav-link active" data-bs-toggle="tab">{% include ui/icon.html
					icon="book" class=icon-class %}</a>
			</li>
			<li class="nav-item">
				<a href="#tabs-chat" class="nav-link" data-bs-toggle="tab">{% include ui/icon.html icon="messages"
					class=icon-class %}</a>
			</li>
			<li class="nav-item">
				<a href="#tabs-checks" class="nav-link" data-bs-toggle="tab">{% include ui/icon.html icon="flag-2"
					class=icon-class %}</a>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content d-flex flex-row">
			<div class="tab-pane active show" id="tabs-analysis">
				<div class="row g-0">
					<label class="form-check form-switch" style="float: right; display: none;">
						<input id="parallel-switch" class="form-check-input" type="checkbox" style="float: right;">
						{% include ui/icon.html icon="letter-case-toggle" class=icon-class%}
					</label>
				</div>
				<div class="mb-3 prototype" id="filter">
					<div class="d-flex flex-row">
						<div class="dropdown flex-fill me-1">
							<div class="input-group">
								<span class="input-group-text">
									{% include ui/icon.html icon="search" %}
								</span>
								<input type="text" value="" class="form-control" placeholder="Search…"
									aria-label="Search in website" id="search-input">
								<button class="btn btn-outline-primary" type="button" id="search-filter-button">
									{% include ui/icon.html icon="arrow-right" class="m-0"%}
								</button>
							</div>
							<div class="dropdown-menu w-100 p-3 overflow-auto" style="max-height: 75vh;"
								id="search-preview"></div>
						</div>
						<button class="btn btn-outline-primary ms-1" id="toggle-more-options">
							{% include ui/icon.html icon="adjustments" class="m-0"%}
						</button>
						<button class="btn btn-outline-primary disabled mx-1" type="button" id="reset-filters-button">
							{% include ui/icon.html icon="rotate-clockwise" class="m-0"%}
						</button>
					</div>

					<div id="advanced-div" style="display: none;">
						<div class="dropdown mt-2">
							<div class="subheader mb-1">Autore</div>
							<div class="input-group">
								<span class="input-group-text">
									{% include ui/icon.html icon="search" %}
								</span>
								<input type="text" value="" class="form-control" placeholder="Cerca Autore…"
									aria-label="Search author" id="search-author">
							</div>
							<div class="dropdown-menu w-100 dropdown-scroll overflow-auto" id="author-filter"></div>
						</div>
						<div class="d-flex flex-row my-2">
							<div class="dropdown w-50 me-2">
								<div class="subheader mb-1">Gruppo parlamentare</div>
								<button class="form-select text-start w-100" type="button" id="group-filter-button"
									data-bs-toggle="dropdown" aria-expanded="false">
									Seleziona Gruppo
								</button>
								<div class="dropdown-menu w-100 dropdown-scroll overflow-auto" id="group-filter"></div>
							</div>
							<div class="dropdown w-50 ms-2">
								<div class="subheader mb-1">Tag</div>
								<button class="form-select text-start w-100" type="button" id="tag-filter-button"
									data-bs-toggle="dropdown" aria-expanded="false">
									Seleziona Tag
								</button>
								<div class="dropdown-menu w-100 dropdown-scroll overflow-auto" id="tag-filter"></div>
							</div>
						</div>
						<a class="mt-2" href="#!" id="export-selected-link">Esporta...</a>
						<div class="modal modal-blur fade" id="export-modal" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
							<div class="modal-dialog modal-dialog-centered" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title">Esporta Emendamenti</h5>
								  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="btn-group w-100" role="group">
										<input type="radio" class="btn-check" name="btn-radio-basic" id="btn-modal-selection" autocomplete="off">
										<label for="btn-modal-selection" type="button" class="btn">Selezione</label>
										<input type="radio" class="btn-check" name="btn-radio-basic" id="btn-modal-filtered" autocomplete="off">
										<label for="btn-modal-filtered" type="button" class="btn">Filtrati</label>
									</div>
									<div id="export-modal-body"></div>
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
								  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
								</div>
							  </div>
							</div>
						  </div>
					</div>
				</div>
				<div class="card">
					<div class="row g-0">
						<div class="col-1 col-lg-1 col-xl-1 border-end" style="width: 6vw;">
							<div class="card">
								<div class="card-header" style="display: none;">
									<h3 class="card-title">Emendamenti</h3>
								</div>
								<div class="list-group list-group-flush scrollable overflow-auto" style="height: 85vh;"
									id="amendmentIdxs">
								</div>
							</div>
						</div>
						<div class="d-flex flex-column half-column">
							<div class="d-flex flex-row position-relative">
								<button class="prototype position-absolute top-0 end-0 m-3" id="star-icon-container" style="z-index: 10; background: none; border: none; padding: 0;">
									{% include ui/icon.html icon="star" class="icon-class star-icon text-primary"%}
								</button>
								<div class="card-body markdown scrollable pe-5" style="height: 38vh; white-space: pre-line;"
									id="amendmentContent">
								</div>
							</div>
							<div class="card-body markdown scrollable" style="height: 47vh;" id="amendmentAnalysis">
								<!-- Identities div  -->
								<label id="identities">
									<p style="margin-bottom: 3px;" id="identical"></p>
									<p style="margin-bottom: 3px;" id="similar"></p>
									<p style="margin-bottom: 3px;" id="relevant"></p>
								</label>
								<br>
								<strong>Titolo</strong>
								<textarea id="titolo" style="width:36vw; resize: both;"></textarea>
								<strong>Sintesi</strong>
								<textarea id="sintesi" style="width:36vw; resize: both;"></textarea>
								<div id="saveButton">
									{% include ui/button.html icon="device-floppy" icon-only=true
									class="btn-outline-primary"%}
								</div>
								<label id="esito" class="half-column"
									style="display: flex; justify-content: center; align-items: center;"></label>
								<label id="successLabel" style="display: none;">{% include ui/icon.html
									icon="circle-check" color="green" size="lg" class="mb-2" %}</label>
								<label id="failureLabel" style="display: none;">{% include ui/icon.html icon="circle-x"
									color="red" size="lg" class="mb-2" %}</label>
							</div>
						</div>
						<div class="col-6 col-lg-6 col-xl-6 d-flex flex-column half-column"
							style="width:33vw; white-space: pre-line;">
							<div class="card-body markdown scrollable" style="height: 85vh; white-space: pre-line;"
								id="articleContent"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tabs-chat">
				{% include asimov_cards/chat.html %}
			</div>
			<div class="tab-pane" id="tabs-checks">
				<div class="row row-cards" style="width: 60vw;">
					<div class="card">
						<div class="ribbon bg-primary">Novità</div>
						<div class="card-body">
							<details>
								<summary class="card-title">{% include ui/icon.html icon="plus" class=icon-class %}
									Scartato dal fascicolo</summary>
								<p class="text" id="discarded-amendments-label"></p>
							</details>
							<h3></h3>
							<p></p>
						</div>
					</div>
					<div class="card">
						<div class="ribbon bg-primary">Novità</div>
						<div class="card-body">
							<details>
								<summary class="card-title">{% include ui/icon.html icon="plus" class=icon-class %}
									Scartato dal provvedimento</summary>
								<p class="text" id="discarded-provision-label"></p>
							</details>
						</div>
					</div>
					<div class="card">
						<div class="ribbon bg-primary">In arrivo</div>
						<div class="card-body">
							<details>
								<summary class="card-title">{% include ui/icon.html icon="plus" class=icon-class %}
									Altri controlli</summary>
								<p class="text" id="other-checks-label">I controlli di sicurezza non sono stati
									riportati.</p>
							</details>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="card" style="display: none;">
	<div class="card-body">
		<a class="btn" data-bs-toggle="offcanvas" href="#offcanvasStart" role="button" aria-controls="offcanvasStart">
			Toggle start offcanvas
		</a>
	</div>
</div>

<div class="offcanvas offcanvas-start" style="width: 18vw; resize: horizontal;" tabindex="-1" id="offcanvasStart"
	aria-labelledby="offcanvasStartLabel">
	<div class="offcanvas-header">
		<h2 class="offcanvas-title"><a id="offcanvasHeader" href="" target="_blank">Start offcanvas</a></h2>
		<button id="closeOffcanvasButton" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
			aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<strong>Sintesi</strong>
		<p id="quotationSummary"></p>
		<strong>Testo</strong>
		<p id="quotationText" style="white-space: pre-line;"></p>
		<div class="resize-handle"
			style="width: 5px; height: 100%; position: absolute; top: 0; right: 0; cursor: ew-resize;"></div>
	</div>
</div>
<style>
	.quotation {
		position: relative;
		display: inline;
		cursor: pointer;
		color: blue;
		/* Set the text color to blue */
		text-decoration: underline;
		/* Underline the text to mimic a link */
		background-color: inherit;
	}
</style>

<script>
	var parameters_search = new URLSearchParams(window.location.href)
	var project_name = parameters_search.entries().next().value[1]
	var dmp = globalThis.dmp
	document.querySelector('title').text = project_name
	document.querySelector('.page-title').innerHTML = `${project_name} - Emendamenti`

	const amendmentDiv = document.getElementById('amendmentIdxs');
	const amendmentContentDiv = document.getElementById('amendmentContent');
	const titoloComponent = document.getElementById('titolo');
	const sintesiComponent = document.getElementById('sintesi');
	const identicalComponent = document.getElementById('identical');
	const similarComponent = document.getElementById('similar');
	const relevantComponent = document.getElementById('relevant');
	const articleContentDiv = document.getElementById('articleContent');
	const checksTab = document.getElementById('tabs-checks');
	const parallelSwitch = document.getElementById('parallel-switch');
	var selectedKey;

	//TEMP: should be given by api calls
	let selectedAmendments;
	let filteredAmendments;

	//used for active workd filtering
	let isWordFiltering = false;
	let currentlyFilteredWord = '';

	document.addEventListener('DOMContentLoaded', function () {
		// Initialize the amendment content as needed here
	});

	const chatEndpoint = `{{ site.data.endpoint[0].host }}/users/me/projects/chatbot?project_name=${project_name}`

	let offcanvas = document.getElementById('offcanvasStart')
	let offCanvasBody = document.querySelector('.offcanvas-body');
	let offcanvasToggleBtn = document.querySelector('a[data-bs-toggle="offcanvas"]');


	var visualizationData;
	var partialVisualizationData;

	// filter utils
	const tags = new Set();
	const groups = new Set();
	const authors = new Set();

	async function annotate() {
		try {
			var endpoint = '{{ site.data.endpoint[0].host }}/users/me/annotate/';
			endpoint += `?project_name=${project_name}`;
			const data = {
				am_idx: currentAm.dataset.amendmentKey,
				titolo: titoloComponent.value,
				sintesi: sintesiComponent.value
			};

			const response = await fetch(endpoint, {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					'Authorization': 'Bearer ' + sessionStorage.getItem('access_token'),
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			});

			// Check if the request was successful
			if (!response.ok) {
				// Check if the error is related to authentication (401 Unauthorized)
				if (response.status === 401) {
					window.location.href = '/sign-in.html';
					throw new Error('Authentication error: Unauthorized');
				}
				throw new Error(`HTTP error! status: ${response.status}`);
			}

			const is_successful = await response.json();
			if (is_successful) {
				document.getElementById('esito').innerHTML = document.getElementById('successLabel').innerHTML;
				visualizationData.amendments_data[idx]['titolo'] = titoloComponent.value;
				visualizationData.amendments_data[idx]['sintesi'] = sintesiComponent.value;
			} else {
				document.getElementById('esito').innerHTML = document.getElementById('failureLabel').innerHTML;
			}
		} catch (error) {
			// Handle the error
			console.log(error.message);
		}
	}

	document.getElementById('saveButton').querySelector('.btn').addEventListener('click', annotate);

	async function fetch_annotation_data() {
		try {
			// Construct the endpoint URL with the project_name query parameter
			const endpoint = `https://asimov.law:8443/users/me/annotations/?project_name=${project_name}`;

			// Perform the GET request
			const response = await fetch(endpoint, {
				method: 'GET',
				headers: {
					'Accept': 'application/json',
					'Authorization': 'Bearer ' + sessionStorage.getItem('access_token'), // Retrieve the access token from session storage
				},
			});

			// Check if the request was successful
			if (!response.ok) {
				// Check if the error is related to authentication (401 Unauthorized)
				if (response.status === 401) {
					window.location.href = '/sign-in.html'; // Redirect to sign-in page
					throw new Error('Authentication error: Unauthorized');
				}
				throw new Error(`HTTP error! status: ${response.status}`);
			}

			// Parse the JSON response
			const annotations = await response.json();
			return annotations
		} catch (error) {
			// Handle the error
			console.error('Failed to fetch annotation data:', error.message);
		}
	}

	async function fetch_visualization_data() {
		try {
			var endpoint = '{{ site.data.endpoint[0].host }}/users/me/projects/visualization/';
			endpoint += `?project_name=${project_name}`;

			const response = await fetch(endpoint, {
				method: 'GET',
				headers: {
					'Accept': 'application/json',
					'Authorization': 'Bearer ' + sessionStorage.getItem('access_token'),
					'Content-Type': 'application/json'
				},
			});

			// Check if the request was successful
			if (!response.ok) {
				// Check if the error is related to authentication (401 Unauthorized)
				if (response.status === 401) {
					window.location.href = '/sign-in.html';
					throw new Error('Authentication error: Unauthorized');
				}
				throw new Error(`HTTP error! status: ${response.status}`);
			}

			const data = await response.json();
			// Handle the fetched data
			return data;
			// Call any function that relies on visualizationData here
		} catch (error) {
			// Handle the error
			console.log(error.message);
		}
	}


	function replaceUnwantedTags(text) {
		// Replace <span...> and </span> with placeholders br
		text = text.replace(/<(\/?span.*?|\/?strong|\/?b|\/?br)>/g, '@$1@');

		// Replace remaining < and > with temporary placeholders
		text = text.replace(/<+/g, '«');
		text = text.replace(/>+/g, '»');

		// Replace placeholders back to original tags
		text = text.replace(/@(\/?span.*?|\/?strong|\/?b|\/?br)@/g, '<$1>');

		return text;
	}

	function collapseTags(html) {
		return html.replace(/<([a-z]+)[^<>]*>(.*?)<\/\1>/sgi, '$2');
	}

	function updateIdentityLabelFromAmendment(amendmentData) {

		function fillIdentityComponent(other_ids, component, preamble) {
			component.style.display = 'none';
			if (other_ids) {
				component.innerHTML = `<i>${preamble}</i>`;
				other_ids.forEach((id) => {
					let span = document.createElement('span');
					span.className = 'badge bg-azure-lt';
					span.dataset.id = id;
					span.textContent = id;
					span.addEventListener('click', function () {
						let diff = dmp.difflibAddRmWords(
							collapseTags(visualizationData.amendments_data[amendmentData.idx].body),
							collapseTags(visualizationData.amendments_data[id].body)
						);
						diff = diff.replace(/^Emendamento /, '');
						amendmentContentDiv.innerHTML = diff;
					});
					component.appendChild(span);
					component.appendChild(document.createTextNode(' '));
				});
				component.style.display = 'block';
			}
		}

		try {
			var idts = amendmentData.identities.identical
			fillIdentityComponent(
				amendmentData.identities.identicals,
				identicalComponent,
				'Id. a '
			);

			fillIdentityComponent(
				amendmentData.identities.similar,
				similarComponent,
				'Simile a '
			);

			fillIdentityComponent(
				amendmentData.identities.relevant,
				relevantComponent,
				'Correlato a '
			);

		} catch (error) {
			console.log(error)
		}
	}

	function highlightText(text, term) {
		// Escape special characters in the term to use in the regex
		const escapedTerm = term.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
		const regex = new RegExp(`(${escapedTerm})`, 'gi');
		// Split text into parts with the regex
		const parts = text.split(regex);

		// Handle leading and trailing spaces with &nbsp;
		const taggedText = parts.map(part => {
			if (regex.test(part)) {
				return `<span class="bg-yellow-lt">${part}</span>`;
			} else {
				// Replace spaces with &nbsp; only if they are at the beginning or end
				return part.replace(/^ /g, '&nbsp;').replace(/ $/g, '&nbsp;');
			}
		}).join('');

		return `<span class="text-wrap">${taggedText}</span>`;
	}

	// Update the two columns with the corresponding data of the amendment
	function updateColumns(amendmentKey) {
		let amendmentData = visualizationData.amendments_data[amendmentKey];
		amendmentData.idx = amendmentKey;
		let articleKey = amendmentData.art_idx;
		let articleContent = visualizationData.articles_data[articleKey];
		selectedKey = amendmentKey;

		if (articleContent == null) {
			articleContent = 'Articolo di riferimento non trovato.'
		}

		let amendmentContent = amendmentData.body
		if (amendmentData.first_author) {
			let modifiedBody = amendmentContent.replace(/^<strong>Emendamento.*?\n/, '');

			amendmentContent = `<b>${amendmentKey}</b>` +
				`<span class='pad'>\t\t${amendmentData.first_author.trim()}${amendmentData.group ? ", " + amendmentData.group : ""}<span><br>` +
				`${modifiedBody}`;
		}

		amendmentContent = replaceUnwantedTags(amendmentContent);

		// Set the content for the amendmentContentDiv and amendmentAnalysisDiv
		amendmentContentDiv.innerHTML = amendmentContent;
		titoloComponent.value = amendmentData.titolo;
		sintesiComponent.value = amendmentData.sintesi;
		if (isWordFiltering) {
			amendmentContentDiv.innerHTML = highlightText(amendmentContent, currentlyFilteredWord);
			//titoloComponent.value = highlightText(amendmentData.titolo, currentlyFilteredWord);
			//sintesiComponent.value = highlightText(amendmentData.sintesi, currentlyFilteredWord);
		}
		updateIdentityLabelFromAmendment(amendmentData)

		//Adjust textarea heigth
		titoloComponent.style.height = ""; // Reset the height to auto
		titoloComponent.style.height = titoloComponent.scrollHeight + "px";
		sintesiComponent.style.height = ""; // Reset the height to auto
		sintesiComponent.style.height = sintesiComponent.scrollHeight + "px";

		// Remove success/failure outcom
		document.getElementById('esito').innerHTML = '';

		// Set the content for the articleContentDiv
		if (parallelSwitch.checked && amendmentData.parallel) {
			articleContentDiv.innerHTML = amendmentData.parallel;
		}
		else {
			articleContentDiv.innerHTML = articleContent;
		}

		// Scroll back to the top of the content
		amendmentContentDiv.scrollTop = 0;
		articleContentDiv.scrollTop = 0;

		// Highlight the active amendment in the list
		document.querySelectorAll('.list-group-item').forEach((item) => {
			item.classList.remove('active');
		});
		currentAm = document.querySelector(`[data-amendment-key="${amendmentKey}"]`)
		currentAm.classList.add('active');
		currentAm.ariaCurrent = "true"

		// favourite amendment stuff
		if(selectedAmendments[selectedKey]) {
			document.querySelector('.star-icon').classList.add('selected');
		} else {
			document.querySelector('.star-icon').classList.remove('selected');
		}
	}

	function showQuotation(quote_id) {
		const quotationData = visualizationData.quotations_data[quote_id - 1];
		if (quotationData) {
			const offcanvasTitle = document.getElementById('offcanvasHeader');
			const quotationSummary = document.getElementById('quotationSummary');
			const quotationText = document.getElementById('quotationText');

			// Populate the offcanvas elements with quotation data
			offcanvasTitle.textContent = quotationData.standardquote;
			offcanvasTitle.href = quotationData.url;
			quotationSummary.innerHTML = markdownToHtml(quotationData.note);
			quotationText.textContent = quotationData.quotetext.replace(/\W*il\W+presidente\W+della\W+repubblica.+emana\W+il\W+seguente\W+decreto\W*legge\W*/gsi, '');;

			// Show the offcanvas
			new bootstrap.Offcanvas(offcanvas).show();

			// following is to prevent offcanvas adding 'focusing' event
			// bad practice since it disable adding new events to document
			document.addEventListener = function (type, listener, options) {
				console.warn(`Prevented adding event listener of type "${type}"`);
			};
		}
	}

	function addEventToQuotations() {
		// Add event listeners to all span elements with data-quoteid
		spans = document.querySelectorAll('span[data-quoteid]')
		spans.forEach(span => {
			span.classList.add('quotation');
			span.addEventListener('click', function () {
				const quote_id = this.getAttribute('data-quoteid');
				// When the span is clicked, call showQuotation function
				showQuotation(quote_id);
			});
		});
	}

	function fill_visualization() {
		// Fill the first column with the ids of the amendments
		function populateAmendmentsList() {
			let amendmentsData = visualizationData.amendments_data;
			for (let emKey in amendmentsData) {
				if (amendmentsData.hasOwnProperty(emKey)) {
					//filter stuff
					amendmentsData[emKey].classi.split(',').forEach(item => tags.add(item.trim()));
					groups.add(amendmentsData[emKey].group);
					authors.add(amendmentsData[emKey].first_author.trim());

					let listItem = document.createElement('a');
					listItem.href = '#';
					listItem.className = 'list-group-item list-group-item-action';
					"list-group-item list-group-item-action active"
					listItem.textContent = emKey;
					// Set the data attribute to store the amendment key for later use
					listItem.dataset.amendmentKey = emKey;
					listItem.addEventListener('click', (event) => {
						event.preventDefault();
						// When the item is clicked, call the function to update content in other columns
						updateColumns(event.currentTarget.dataset.amendmentKey);
						addEventToQuotations();
					});
					amendmentDiv.appendChild(listItem);
				}
			}
			amendmentDiv.firstElementChild.click();
		}

		//TEMP: will be managed by api calls
		selectedAmendments = Object.fromEntries(Object.keys(visualizationData.amendments_data).map(key => [key, false]));
		// similar, but keeps track of filtered amendments
		filteredAmendments = Object.fromEntries(Object.keys(visualizationData.amendments_data).map(key => [key, true]));

		function createFilters() {
			document.getElementById('star-icon-container').addEventListener('click', function(event) {
				this.children[0].classList.toggle('selected');
				selectedAmendments[selectedKey] = this.children[0].classList.contains('selected') ? true : false;
        	});

			document.getElementById('export-selected-link').addEventListener('click', event => {
				// Show the modal
				const myModal = new bootstrap.Modal(document.getElementById('export-modal'));
            	myModal.show();
			});

			document.getElementById('btn-modal-selection').addEventListener('click', event => {
				const listSelectedAmendments = Object.entries(selectedAmendments).filter(([key, value]) => value).map(([key]) => key);
				document.getElementById('export-modal-body').innerHTML = `<p>Gli emendamenti selezionati sono: ${listSelectedAmendments}</p>`;
			});

			document.getElementById('btn-modal-filtered').addEventListener('click', event => {
				const listFilteredAmendments = Object.entries(filteredAmendments).filter(([key, value]) => value).map(([key]) => key);
				document.getElementById('export-modal-body').innerHTML = `<p>Gli emendamenti attualmente filtrati sono: ${listFilteredAmendments}</p>`;
			});

			const searchInput = document.getElementById('search-input');
			const searchPreview = document.getElementById('search-preview');
			const resetFiltersBtn = document.getElementById('reset-filters-button');

			const searchAuthor = document.getElementById('search-author');
			const authorsDropdown = document.getElementById('author-filter');

			document.getElementById('toggle-more-options').addEventListener('click', event => {
				const advancedDiv = document.getElementById('advanced-div');
				advancedDiv.style.display = advancedDiv.style.display === 'block' ? 'none' : 'block';
			});

			function filterAmendments(event) {
				const amendmentList = Array.from(amendmentDiv.children);
				const cbTags = document.querySelectorAll('input[data-filter="tag"]:checked');
				const cbGroups = document.querySelectorAll('input[data-filter="group"]:checked');
				const cbAuthors = document.querySelectorAll('input[data-filter="author"]:checked');


				const selectedTags = new Set(Array.from(cbTags).map(cb => cb.value));
				const selectedGroups = new Set(Array.from(cbGroups).map(cb => cb.value));
				const selectedAuthors = new Set(Array.from(cbAuthors).map(cb => cb.value));
				const searchQuery = isWordFiltering ? searchInput.value.toLowerCase() : '';
				let preFilteredItems = [];
				if (searchQuery) {
					preFilteredItems = Object.entries(visualizationData.amendments_data)
						.filter(([amKey, am]) => {
							return (am.titolo.toLowerCase().includes(searchQuery) ||
								am.sintesi.toLowerCase().includes(searchQuery) ||
								collapseTags(am.body).toLowerCase().includes(searchQuery) ||
								am.first_author.trim().toLowerCase().includes(searchQuery))
						})
						.map(([amKey, am]) => amKey);
				}

				if (selectedTags.size > 0) {
					document.getElementById('tag-filter-button').textContent = 'Selezione';
				} else {
					document.getElementById('tag-filter-button').textContent = 'Seleziona Tag';
				}

				if (selectedGroups.size > 0) {
					document.getElementById('group-filter-button').textContent = 'Selezione';
				} else {
					document.getElementById('group-filter-button').textContent = 'Seleziona Gruppo';
				}

				// make clickable or disable reset filter button
				// put here since every change on the filters calls this function
				if (searchQuery || selectedTags.size > 0 || selectedGroups.size > 0 || selectedAuthors.size > 0 || searchAuthor.value) {
					resetFiltersBtn.classList.remove('disabled');
				} else {
					resetFiltersBtn.classList.add('disabled');
				}

				amendmentList.forEach(child => {
					const tagList = visualizationData.amendments_data[child.dataset.amendmentKey].classi.split(',').map(s => s.trim());
					if ((selectedTags.size === 0 || tagList.some(item => selectedTags.has(item))) &&
						(selectedGroups.size === 0 || selectedGroups.has(visualizationData.amendments_data[child.dataset.amendmentKey].group)) &&
						(selectedAuthors.size === 0 || selectedAuthors.has(visualizationData.amendments_data[child.dataset.amendmentKey].first_author.trim())) &&
						(!searchQuery || preFilteredItems.includes(child.dataset.amendmentKey))) {
						child.classList.remove('hidden');
						filteredAmendments[child.dataset.amendmentKey] = true;
					} else {
						child.classList.add('hidden');
						filteredAmendments[child.dataset.amendmentKey] = false;
					}
				});

				// select firts amendment on list
				const firstFilteredAm = amendmentDiv.querySelector(':not(.hidden)');
				if (firstFilteredAm) {
					updateColumns(firstFilteredAm.dataset.amendmentKey);
					addEventToQuotations();
				}
			}

			function resetFilters() {
				//resets all filtered checkboxes
				document.querySelectorAll('input[data-filter="tag"]:checked').forEach(cb => cb.checked = false);
				document.querySelectorAll('input[data-filter="group"]:checked').forEach(cb => cb.checked = false);
				document.querySelectorAll('input[data-filter="author"]:checked').forEach(cb => cb.checked = false);

				//resets content of search field
				searchInput.value = '';
				searchAuthor.value = '';
				//necessary to reset dropdown of authors
				searchAuthor.dispatchEvent(new Event('input', { bubbles: true }));

				//disables word filtering
				isWordFiltering = false;
				currentlyFilteredWord = '';

				//triggers filterAmendments to actually display all
				filterAmendments(event);
			}

			function createPreviewList(filteredItems, searchQuery) {
				const maxVisibleItemsPerCategory = 4;

				const wrapper = document.createElement('div');
				wrapper.classList.add('mb-3');

				const categoryPreview = document.createElement('div');
				categoryPreview.classList.add('border', 'rounded');
				filteredItems.forEach(([key, item], iterIndex) => {
					const itemText = key.bold() + '&nbsp;' + item;
					const highlightedText = highlightText(itemText, searchQuery);
					const previewItem = document.createElement('div');
					previewItem.classList.add('dropdown-item');
					if (iterIndex > 0) {
						previewItem.classList.add('border-top');
					}
					if (iterIndex >= maxVisibleItemsPerCategory) {
						previewItem.style.display = 'none';
					}
					previewItem.innerHTML = highlightedText;
					previewItem.addEventListener('click', event => {
						resetFilters();
						const selAm = document.querySelector(`[data-amendment-key="${key}"]`);
						selAm.click();
						selAm.scrollIntoView({ block: 'start' });
						searchPreview.classList.remove('show');
					});
					categoryPreview.appendChild(previewItem);
				});

				wrapper.appendChild(categoryPreview);

				if (filteredItems.length >= maxVisibleItemsPerCategory) {
					const showMoreLink = document.createElement('a');
					showMoreLink.href = '#!';
					//showMoreLink.classList.add('dropdown-item');
					showMoreLink.textContent = 'Mostra altro...';
					showMoreLink.addEventListener('click', function (event) {
						event.preventDefault();
						for (child of categoryPreview.children) {
							child.style.display = 'block';
						}
						showMoreLink.style.display = 'none';
					});
					wrapper.append(showMoreLink);
				}

				searchPreview.append(wrapper);
			}

			function generateSearchPreview(searchQuery) {
				// filters stuff converting it into an array [[key1,value1], [key2, value2], ...]
				const filteredTitle = Object.entries(visualizationData.amendments_data)
					.filter(([amKey, am]) => {
						return am.titolo.toLowerCase().includes(searchQuery);
					})
					.map(([amKey, am]) => [amKey, am.titolo]);

				const filteredSynthesis = Object.entries(visualizationData.amendments_data)
					.filter(([amKey, am]) => {
						return am.sintesi.toLowerCase().includes(searchQuery);
					})
					.map(([amKey, am]) => [amKey, am.sintesi]);

				const filteredBody = Object.entries(visualizationData.amendments_data)
					.filter(([amKey, am]) => {
						return am.body.replace(/^<strong>Emendamento.*?\n/, '').toLowerCase().includes(searchQuery);
					})
					.map(([amKey, am]) => [amKey, am.body.replace(/^<strong>Emendamento.*?\n/, '')]);

				const filteredAuthor = Object.entries(visualizationData.amendments_data)
					.filter(([amKey, am]) => {
						return am.first_author.trim().toLowerCase().includes(searchQuery);
					})
					.map(([amKey, am]) => [amKey, am.first_author.trim()]);

				if (filteredTitle.length > 0) {
					const lblTitle = document.createElement('div');
					lblTitle.classList.add('subheader', 'mb-2');
					lblTitle.textContent = 'Titoli';
					searchPreview.appendChild(lblTitle);
					createPreviewList(filteredTitle, searchQuery);
				}

				if (filteredSynthesis.length > 0) {
					const lblSynthesis = document.createElement('div');
					lblSynthesis.classList.add('subheader', 'mb-2');
					lblSynthesis.textContent = 'Sintesi';
					searchPreview.appendChild(lblSynthesis);
					createPreviewList(filteredSynthesis, searchQuery);
				}

				if (filteredBody.length > 0) {
					const lblBody = document.createElement('div');
					lblBody.classList.add('subheader', 'mb-2');
					lblBody.textContent = 'Contenuto emendamenti';
					searchPreview.appendChild(lblBody);
					createPreviewList(filteredBody, searchQuery);
				}

				if (filteredAuthor.length > 0) {
					const lblAuthor = document.createElement('div');
					lblAuthor.classList.add('subheader', 'mb-2');
					lblAuthor.textContent = 'Autore';
					searchPreview.appendChild(lblAuthor);
					createPreviewList(filteredAuthor, searchQuery);
				}

				if ((filteredTitle.length === 0) && (filteredSynthesis.length === 0) && (filteredBody.length === 0) && (filteredAuthor.length === 0)) {
					const noResultsItem = document.createElement('div');
					noResultsItem.classList.add('dropdown-item', 'text-muted');
					noResultsItem.style.pointerEvents = 'none'; // Make it non-clickable
					noResultsItem.textContent = 'Nessun risultato';
					searchPreview.appendChild(noResultsItem);
				}
			}

			searchInput.addEventListener('input', event => {
				const searchQuery = event.target.value.toLowerCase();
				searchPreview.innerHTML = '';

				if (searchQuery) {
					generateSearchPreview(searchQuery);
					searchPreview.classList.add('show');
				} else {
					searchPreview.classList.remove('show');
				}
			});

			// Hide preview when clicking outside
			document.addEventListener('click', (event) => {
				if (!searchInput.contains(event.target) && !searchPreview.contains(event.target)) {
					searchPreview.classList.remove('show');
				} else {
					if (searchInput.value && searchInput.contains(event.target)) {
						searchPreview.classList.add('show');
					}
				}

				if (!searchAuthor.contains(event.target) && !authorsDropdown.contains(event.target)) {
					authorsDropdown.classList.remove('show');
				}
			});

			function applyWordFilters() {
				// check if there is content before filtering
				if (searchInput.value.toLowerCase()) {
					isWordFiltering = true;
					currentlyFilteredWord = searchInput.value.toLowerCase();
					//delegate filtering to the filterAmendments function
					filterAmendments(event);
					searchPreview.classList.remove('show');
				}
			}

			searchInput.addEventListener('keydown', event => {
				if (event.key === 'Enter') {
					applyWordFilters();
				}
			});

			document.getElementById('search-filter-button').addEventListener('click', event => {
				applyWordFilters();
			});

			searchAuthor.addEventListener('focus', event => {
				authorsDropdown.classList.add('show');
			})

			searchAuthor.addEventListener('input', event => {
				const searchAuthorQuery = event.target.value.toLowerCase();
				
				[...authorsDropdown.children].forEach(item => {
					if (searchAuthorQuery) {
						const author = item.firstChild.value;
						if(author.toLowerCase().includes(searchAuthorQuery)) {
							item.lastChild.innerHTML = highlightText(author, searchAuthorQuery);
							item.classList.remove('hidden');
						} else {
							item.classList.add('hidden');
						}
					} else {
						item.lastChild.innerHTML = `<span>${item.firstChild.value}</span>`;
						item.classList.remove('hidden');
					}
				});
			});

			resetFiltersBtn.addEventListener('click', event => {
				resetFilters();
			});

			const groupsDropdown = document.getElementById('group-filter');
			const tagsDropdown = document.getElementById('tag-filter');

			tags.forEach(tag => {
				const tagCheckbox = document.createElement('input');
				tagCheckbox.classList.add('form-check-input', 'm-0', 'me-2');
				tagCheckbox.type = 'checkbox';
				tagCheckbox.value = tag;
				tagCheckbox.dataset.filter = 'tag'; //add data attribute to query select correct checkboxes
				tagCheckbox.addEventListener('change', filterAmendments);

				const tagLabel = document.createElement('label');
				tagLabel.classList.add('dropdown-item');
				tagLabel.appendChild(tagCheckbox);
				tagLabel.appendChild(document.createTextNode(tag));
				// used to avoid dropdown closing when clicking on the label
				tagLabel.addEventListener('click', event => {
					event.stopPropagation();
				});

				tagsDropdown.appendChild(tagLabel);
			});

			groups.forEach(group => {
				const groupCheckbox = document.createElement('input');
				groupCheckbox.classList.add('form-check-input', 'm-0', 'me-2');
				groupCheckbox.type = 'checkbox';
				groupCheckbox.value = group;
				groupCheckbox.dataset.filter = 'group'; //add data attribute to query select correct checkboxes
				groupCheckbox.addEventListener('change', filterAmendments);

				const groupLabel = document.createElement('label');
				groupLabel.classList.add('dropdown-item');
				groupLabel.appendChild(groupCheckbox);
				groupLabel.appendChild(document.createTextNode(group ? group : "Nessun gruppo"));
				// used to avoid dropdown closing when clicking on the label
				groupLabel.addEventListener('click', event => {
					event.stopPropagation();
				});

				groupsDropdown.appendChild(groupLabel);
			});

			Array.from(authors).sort().forEach(author => {
				const authorCheckbox = document.createElement('input');
				authorCheckbox.classList.add('form-check-input', 'm-0', 'me-2');
				authorCheckbox.type = 'checkbox';
				authorCheckbox.value = author;
				authorCheckbox.dataset.filter = 'author'; //add data attribute to query select correct checkboxes
				authorCheckbox.addEventListener('change', filterAmendments);

				const authorLabel = document.createElement('label');
				authorLabel.classList.add('dropdown-item');
				authorLabel.appendChild(authorCheckbox);
				// I need a span here to highlight when searching
				const lblSpan = document.createElement('span');
				lblSpan.textContent = author;
				authorLabel.appendChild(lblSpan);
				// used to avoid dropdown closing when clicking on the label
				authorLabel.addEventListener('click', event => {
					event.stopPropagation();
				});

				authorsDropdown.appendChild(authorLabel);
			})
		}

		populateAmendmentsList();
		createFilters();

		// View discarded text
		discardedAmendmentsLabel = document.getElementById('discarded-amendments-label')
		discardedProvisionLabel = document.getElementById('discarded-provision-label')
		var discardedAmendments = visualizationData.discarded['amendments'] || '';
		var discardedProvision = visualizationData.discarded['provision'] || '';
		discardedAmendmentsLabel.innerHTML = discardedAmendments.replace(/\n/, '<br>');
		discardedProvisionLabel.innerHTML = discardedProvision.replace(/\n/, '<br>');
	};

	document.addEventListener('DOMContentLoaded', function () {
		function adjustOffcanvasWidth() {
			const rect = amendmentContentDiv.getBoundingClientRect();
			offcanvas.style.width = `${rect.left}px`; // Set the width
		}
		adjustOffcanvasWidth();
		window.addEventListener('resize', adjustOffcanvasWidth);
	});

	document.getElementById('parallel-switch').addEventListener('change', function (event) {
		updateColumns(selectedKey);
		addEventToQuotations()
	});

	function findAdjacentAmendment(direction) {
		const currentActive = document.querySelector('.list-group-item.active');
		if (!currentActive) return null;

		const allAmendments = Array.from(document.querySelectorAll('.list-group-item'));
		const currentIndex = allAmendments.indexOf(currentActive);

		if (direction === 'next') {
			return allAmendments[currentIndex + 1] || allAmendments[0];
		} else if (direction === 'prev') {
			return allAmendments[currentIndex - 1] || allAmendments[allAmendments.length - 1];
		}
	}

	function navigateToAmendment(direction) {
		const targetAmendment = findAdjacentAmendment(direction);
		if (targetAmendment) {
			targetAmendment.click(); // Simulate a click on the target amendment
			targetAmendment.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
		}
	}

	document.addEventListener('keydown', function (event) {
		// if (event.altKey) {
		if (!document.activeElement.matches('#titolo, #sintesi')) {
			let targetAmendment;
			if (event.key === 'ArrowRight' || event.key === 'ArrowDown') {
				event.preventDefault();
				navigateToAmendment('next');
			} else if (event.key === 'ArrowLeft' || event.key === 'ArrowUp') {
				event.preventDefault();
				navigateToAmendment('prev');
			}
		}
		// }
	});

	// Call both functions and store their promises
	const visualizationPromise = fetch_visualization_data();
	const annotationsPromise = fetch_annotation_data();

	Promise.all([fetch_visualization_data(), fetch_annotation_data()]).then((results) => {
		// results[0] will be the data returned from fetch_visualization_data
		// results[1] will be the data returned from fetch_annotation_data

		// Assuming visualizationData is your global variable to hold the visualization data
		visualizationData = results[0];

		// Process annotations and update visualizationData accordingly
		const annotations = results[1];
		annotations.forEach(item => {
			const { idx, title, summary } = item;
			if (!visualizationData.amendments_data[idx]) {
				visualizationData.amendments_data[idx] = {};
			}
			visualizationData.amendments_data[idx]['titolo'] = title;
			visualizationData.amendments_data[idx]['sintesi'] = summary;
		});

		// Now that both data sets are integrated, call fill_visualization
		fill_visualization();
	}).catch(error => {
		console.error("An error occurred:", error);
	});

	var prototypes = document.getElementsByClassName('prototype');

	document.addEventListener('keypress', function (e) {
		if (String.fromCharCode(e.which).toLowerCase() === 'x') {
			e.preventDefault();
			for (var i = 0; i < prototypes.length; i++) {
				prototypes[i].style.display = prototypes[i].style.display === 'block' ? 'none' : 'block';
			}
		}
	});
</script>