---
title: Emendamenti
page-header: Emendamenti
layout-sidebar: true
layout-navbar-transparent: true
layout-hide-topbar: true
page-header-actions: visualization-header
---


<script>
	document.documentElement.style.setProperty('--target-width', `84vw`);
</script>
<style>
	\\ TODO make these two like these everywhere
	.page-wrapper {
		margin-left: 19vw;
	}
	.container-xl{
		margin-left: 1vw;
		margin-right: 1vw;
	}
	\\ Dynamical half columns
	:root {
    --target-width: 84vw; /* Initial value, will be updated by JS */
	}
	.half-column{
		width: calc((var(--target-width) - 6vw)/ 2);
		/* width: 39vw */
	}
	.offcanvas-start{
		width: 8vw;
	}
	.offcanvas-backdrop{
		display: none;
	}
	.form-switch .icon{
		margin-right: 40px;
		float: right;
	}
	add{
        background: #cdff90;
    }
    rm{
        color: red;
        text-decoration: line-through;
    }
	.pad{
		margin: 5px;
	}
	.prototype{
		display: none;
	}
</style>


<div class="card" style="width: 84.2vw; height: 96vh">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs{% if reverse %} flex-row-reverse{% endif %}{% if include.justified %} nav-fill{% endif %}" data-bs-toggle="tabs">
			<li class="nav-item">
				<a href="#tabs-analysis" class="nav-link active" data-bs-toggle="tab">{% include ui/icon.html icon="book" class=icon-class %}</a>
			</li>
			<li class="nav-item">
				<a href="#tabs-chat" class="nav-link" data-bs-toggle="tab">{% include ui/icon.html icon="messages" class=icon-class %}</a>
			</li>
			<li class="nav-item">
				<a href="#tabs-checks" class="nav-link" data-bs-toggle="tab">{% include ui/icon.html icon="flag-2" class=icon-class %}</a>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content">
			<div class="tab-pane active show" id="tabs-analysis">
				<div class="row g-0">
					<label class="form-check form-switch" style="float: right; display: none;">
						<input id="parallel-switch" class="form-check-input" type="checkbox" style="float: right;">
						{% include ui/icon.html icon="letter-case-toggle" class=icon-class%}
					</label>
				</div>
				<div class="card">
					<div class="row g-0">
						<div class="col-1 col-lg-1 col-xl-1 border-end" style="width: 6vw; ">
							<div class="card">
								<div class="card-header" style="display: none;">
								  <h3 class="card-title">Emendamenti</h3>
								</div>
								<div class="list-group list-group-flush scrollable overflow-auto" style="height: 85vh;" id="amendmentIdxs">
								</div>
							  </div>
						</div>
						<div class="d-flex flex-column half-column">
							<div class="card-body markdown scrollable" style="height: 38vh; white-space: pre-line;" id="amendmentContent">
							</div>
							<div class="card-body markdown scrollable" style="height: 47vh;" id="amendmentAnalysis">
								<!-- Identities div  -->
								<label class="prototype" id="identities">
									<p id="identical"></p> 
									<p id="similar"></p>
									<p id="relevant"></p>
								</label>	
								<strong>Titolo</strong>
								<textarea id="titolo" style="width:36vw; resize: both;"></textarea>
								<strong>Sintesi</strong>
								<textarea id="sintesi" style="width:36vw; resize: both;"></textarea>
								<div id="saveButton">
									{% include ui/button.html icon="device-floppy" icon-only=true class="btn-outline-primary"%}
								</div>
								<label id="esito" class="half-column" style="display: flex; justify-content: center; align-items: center;"></label>
								<label id="successLabel" style="display: none;">{% include ui/icon.html icon="circle-check" color="green" size="lg" class="mb-2" %}</label>
								<label id="failureLabel" style="display: none;">{% include ui/icon.html icon="circle-x" color="red" size="lg" class="mb-2" %}</label>
							</div>
						</div>
						<div class="col-6 col-lg-6 col-xl-6 d-flex flex-column half-column" style="width:33vw; white-space: pre-line;">
							<div class="card-body markdown scrollable" style="height: 85vh; white-space: pre-line;" id="articleContent"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tabs-chat">
				{% include asimov_cards/chat.html %}
			</div>
			<div class="tab-pane" id="tabs-checks">
				<div class="row row-cards" style="width: 60vw;">
					<div class="card">
						<div class="ribbon bg-primary">Novità</div>
						<div class="card-body">
							<details>
							<summary class="card-title">{% include ui/icon.html icon="plus" class=icon-class %} Scartato dal fascicolo</summary>
							<p class="text" id="discarded-amendments-label"></p>
						  </details>
						  <h3 ></h3>
						  <p ></p>
						</div>
					  </div>
					<div class="card">
						<div class="ribbon bg-primary">Novità</div>
						<div class="card-body">
							<details>
								<summary class="card-title">{% include ui/icon.html icon="plus" class=icon-class %} Scartato dal provvedimento</summary>
								<p class="text" id="discarded-provision-label"></p>
							</details>
						</div>
					</div>
					<div class="card">
						<div class="ribbon bg-primary">In arrivo</div>
						<div class="card-body">
							<details>
								<summary class="card-title">{% include ui/icon.html icon="plus" class=icon-class %} Altri controlli</summary>
								<p class="text" id="other-checks-label">I controlli di sicurezza non sono stati riportati.</p>
							</details>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<div class="card" style="display: none;">
	<div class="card-body">
		<a class="btn" data-bs-toggle="offcanvas" href="#offcanvasStart" role="button" aria-controls="offcanvasStart">
			Toggle start offcanvas
		</a>
	</div>
</div>

<div class="offcanvas offcanvas-start" style="width: 18vw; resize: horizontal;" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
	<div class="offcanvas-header">
		<h2 class="offcanvas-title" ><a id="offcanvasHeader" href="" target="_blank">Start offcanvas</a></h2>
		<button id="closeOffcanvasButton" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<strong>Sintesi</strong>
		<p id="quotationSummary"></p>
		<strong>Testo</strong>
		<p id="quotationText" style="white-space: pre-line;"></p>
		<div class="resize-handle" style="width: 5px; height: 100%; position: absolute; top: 0; right: 0; cursor: ew-resize;"></div>
	</div>
</div>
<style>
.quotation {
    position: relative;
    display: inline;
    cursor: pointer;
    color: blue;           /* Set the text color to blue */
    text-decoration: underline; /* Underline the text to mimic a link */
    background-color: inherit;
}
</style>

<script>
	var parameters_search = new URLSearchParams(window.location.href)
	var project_name = parameters_search.entries().next().value[1]
	var dmp = globalThis.dmp
	document.querySelector('title').text = project_name
	document.querySelector('.page-title').innerHTML = `${project_name} - Emendamenti`

	const amendmentDiv = document.getElementById('amendmentIdxs');
	const amendmentContentDiv = document.getElementById('amendmentContent');
	const titoloComponent = document.getElementById('titolo');
	const sintesiComponent = document.getElementById('sintesi');
	const identicalComponent = document.getElementById('identical');
	const similarComponent = document.getElementById('similar');
	const relevantComponent = document.getElementById('relevant');
	const articleContentDiv = document.getElementById('articleContent');
	const checksTab = document.getElementById('tabs-checks');
	const parallelSwitch = document.getElementById('parallel-switch');
	var selectedKey;

	document.addEventListener('DOMContentLoaded', function () {
		// Initialize the amendment content as needed here
	});

	const chatEndpoint = `{{ site.data.endpoint[0].host }}/users/me/projects/chatbot?project_name=${project_name}`

	let offcanvas = document.getElementById('offcanvasStart')
	let offCanvasBody = document.querySelector('.offcanvas-body');
	let offcanvasToggleBtn = document.querySelector('a[data-bs-toggle="offcanvas"]');
    
	
	var visualizationData;
	var partialVisualizationData;

	async function annotate() {
		try {
			var endpoint = '{{ site.data.endpoint[0].host }}/users/me/annotate/';
			endpoint += `?project_name=${project_name}`;
			const data = {
				am_idx: currentAm.dataset.amendmentKey,
				titolo: titoloComponent.value,
				sintesi: sintesiComponent.value
			};

			const response = await fetch(endpoint, {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					'Authorization': 'Bearer ' + sessionStorage.getItem('access_token'),
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			});

			// Check if the request was successful
			if (!response.ok) {
				// Check if the error is related to authentication (401 Unauthorized)
				if (response.status === 401) {
					window.location.href = '/sign-in.html';
					throw new Error('Authentication error: Unauthorized');
				}
				throw new Error(`HTTP error! status: ${response.status}`);
			}

			const is_successful = await response.json();
			if (is_successful) {
				document.getElementById('esito').innerHTML = document.getElementById('successLabel').innerHTML;
				visualizationData.amendments_data[idx]['titolo'] = titoloComponent.value;
				visualizationData.amendments_data[idx]['sintesi'] = sintesiComponent.value;
			} else {
				document.getElementById('esito').innerHTML = document.getElementById('failureLabel').innerHTML;
			}
		} catch (error) {
			// Handle the error
			console.log(error.message);
		}
	}

	document.getElementById('saveButton').querySelector('.btn').addEventListener('click', annotate);

	async function fetch_annotation_data() {
		try {
			// Construct the endpoint URL with the project_name query parameter
			const endpoint = `https://asimov.law:8443/users/me/annotations/?project_name=${project_name}`;

			// Perform the GET request
			const response = await fetch(endpoint, {
				method: 'GET',
				headers: {
					'Accept': 'application/json',
					'Authorization': 'Bearer ' + sessionStorage.getItem('access_token'), // Retrieve the access token from session storage
				},
			});

			// Check if the request was successful
			if (!response.ok) {
				// Check if the error is related to authentication (401 Unauthorized)
				if (response.status === 401) {
					window.location.href = '/sign-in.html'; // Redirect to sign-in page
					throw new Error('Authentication error: Unauthorized');
				}
				throw new Error(`HTTP error! status: ${response.status}`);
			}

			// Parse the JSON response
			const annotations = await response.json();
			return annotations
		} catch (error) {
			// Handle the error
			console.error('Failed to fetch annotation data:', error.message);
		}
	}

	async function fetch_visualization_data() {
		try {
			var endpoint = '{{ site.data.endpoint[0].host }}/users/me/projects/visualization/';
			endpoint += `?project_name=${project_name}`;

			const response = await fetch(endpoint, {
				method: 'GET',
				headers: {
					'Accept': 'application/json',
					'Authorization': 'Bearer ' + sessionStorage.getItem('access_token'),
					'Content-Type': 'application/json'
				},
			});

			// Check if the request was successful
			if (!response.ok) {
				// Check if the error is related to authentication (401 Unauthorized)
				if (response.status === 401) {
					window.location.href = '/sign-in.html';
					throw new Error('Authentication error: Unauthorized');
				}
				throw new Error(`HTTP error! status: ${response.status}`);
			}

			const data = await response.json();
			// Handle the fetched data
			return data;
			// Call any function that relies on visualizationData here
		} catch (error) {
			// Handle the error
			console.log(error.message);
		}
	}


	function replaceUnwantedTags(text) {
		// Replace <span...> and </span> with placeholders br
		text = text.replace(/<(\/?span.*?|\/?strong|\/?b|\/?br)>/g, '@$1@');
		
		// Replace remaining < and > with temporary placeholders
		text = text.replace(/<+/g, '«');
		text = text.replace(/>+/g, '»');
		
		// Replace placeholders back to original tags
		text = text.replace(/@(\/?span.*?|\/?strong|\/?b|\/?br)@/g, '<$1>');
		
		return text;
	}


	function updateIdentityLabelFromAmendment(amendmentData){

		function fillIdentityComponent(other_ids, component, preamble){
			component.style.display = 'none';
			if (other_ids){
				component.innerHTML = preamble;
				other_ids.forEach((id) => {
					let span = document.createElement('span');
					span.className = 'badge bg-azure-lt';
					span.dataset.id = id;
					span.textContent = id;
					span.addEventListener('click', function() {
						let diff = dmp.difflibAddRmWords(
							visualizationData.amendments_data[amendmentData.idx].body, 
							visualizationData.amendments_data[id].body
						);
						amendmentContentDiv.innerHTML = diff;
					});
					component.appendChild(span);
					component.appendChild(document.createTextNode(' '));
				});
				component.style.display = 'block';
			}
		}

		try {
			var idts = amendmentData.identities.identical
			fillIdentityComponent(
				amendmentData.identities.identicals,
				identicalComponent,
				'Id. a '
			);
			
			fillIdentityComponent(
				amendmentData.identities.similar,
				similarComponent,
				'Simile a '
			);

			fillIdentityComponent(
				amendmentData.identities.relevant,
				relevantComponent,
				'Correlato a '
			);
			
		} catch (error) {
			console.log(error)
		}
	}

	// Update the two columns with the corresponding data of the amendment
	function updateColumns(amendmentKey) {
			let amendmentData = visualizationData.amendments_data[amendmentKey];
			amendmentData.idx = amendmentKey;
			let articleKey = amendmentData.art_idx;
			let articleContent = visualizationData.articles_data[articleKey];
			selectedKey = amendmentKey

			if(articleContent==null){
				articleContent='Articolo di riferimento non trovato.'
			}

			let content = ''
			if(amendmentData.first_author){
				let modifiedBody = amendmentData.body.replace(/^<strong>Emendamento.*?\n/, '');
				
				content = `<b>${amendmentKey}</b>` +
							`<span class='pad'>\t\t${amendmentData.first_author}, ${amendmentData.group}<span><br>` +
							`${modifiedBody}`;
			}
			else{
				content = amendmentData.body
			}

			content = replaceUnwantedTags(content);


			// Set the content for the amendmentContentDiv and amendmentAnalysisDiv
			amendmentContentDiv.innerHTML = content;
			titoloComponent.value = amendmentData.titolo;
			sintesiComponent.value = amendmentData.sintesi;
			updateIdentityLabelFromAmendment(amendmentData)

			//Adjust textarea heigth
			titoloComponent.style.height = ""; // Reset the height to auto
            titoloComponent.style.height = titoloComponent.scrollHeight + "px"; 
			sintesiComponent.style.height = ""; // Reset the height to auto
            sintesiComponent.style.height = sintesiComponent.scrollHeight + "px"; 

			// Remove success/failure outcom
			document.getElementById('esito').innerHTML = '';

			// Set the content for the articleContentDiv
			if (parallelSwitch.checked && amendmentData.parallel){
				articleContentDiv.innerHTML = amendmentData.parallel;
			}
			else{
				articleContentDiv.innerHTML = articleContent;
			}

			// Scroll back to the top of the content
			amendmentContentDiv.scrollTop = 0;
			articleContentDiv.scrollTop = 0;

			// Highlight the active amendment in the list
			document.querySelectorAll('.list-group-item').forEach((item) => {
				item.classList.remove('active');
			});
			currentAm = document.querySelector(`[data-amendment-key="${amendmentKey}"]`)
			currentAm.classList.add('active');
			currentAm.ariaCurrent="true"
		}

	function showQuotation(quote_id) {
		const quotationData = visualizationData.quotations_data[quote_id-1];
		if (quotationData) {
			const offcanvasTitle = document.getElementById('offcanvasHeader');
			const quotationSummary = document.getElementById('quotationSummary');
			const quotationText = document.getElementById('quotationText');

			// Populate the offcanvas elements with quotation data
			offcanvasTitle.textContent = quotationData.standardquote;
			offcanvasTitle.href = quotationData.url;
			quotationSummary.textContent = quotationData.note;
			quotationText.textContent = quotationData.quotetext.replace(/\W*il\W+presidente\W+della\W+repubblica.+emana\W+il\W+seguente\W+decreto\W*legge\W*/gsi, '');;

			// Show the offcanvas
			new bootstrap.Offcanvas(offcanvas).show();

			// following is to prevent offcanvas adding 'focusing' event
			// bad practice since it disable adding new events to document
			document.addEventListener = function(type, listener, options) {
			console.warn(`Prevented adding event listener of type "${type}"`);};
		}
	}

	function addEventToQuotations(){
		// Add event listeners to all span elements with data-quoteid
		spans = document.querySelectorAll('span[data-quoteid]')
		spans.forEach(span => {
			span.classList.add('quotation');
			span.addEventListener('click', function() {
				const quote_id = this.getAttribute('data-quoteid');
				// When the span is clicked, call showQuotation function
				showQuotation(quote_id);
			});
		});
	}

	function fill_visualization(){
		// Fill the first column with the ids of the amendments
		function populateAmendmentsList() {
			let amendmentsData = visualizationData.amendments_data;
			for (let emKey in amendmentsData) {
				if (amendmentsData.hasOwnProperty(emKey)) {
					let listItem = document.createElement('a');
					listItem.href = '#';
					listItem.className = 'list-group-item list-group-item-action';
					"list-group-item list-group-item-action active" 
					listItem.textContent = emKey;
					// Set the data attribute to store the amendment key for later use
					listItem.dataset.amendmentKey = emKey;
					listItem.addEventListener('click', (event) => {
						event.preventDefault();
						// When the item is clicked, call the function to update content in other columns
						updateColumns(event.currentTarget.dataset.amendmentKey);
						addEventToQuotations();
					});
					amendmentDiv.appendChild(listItem);
				}
			}

			amendmentDiv.firstElementChild.click();
		}


		populateAmendmentsList();

		// View discarded text
		discardedAmendmentsLabel = document.getElementById('discarded-amendments-label')
		discardedProvisionLabel = document.getElementById('discarded-provision-label')
		var discardedAmendments = visualizationData.discarded['amendments'] || '';
		var discardedProvision = visualizationData.discarded['provision'] || '';
		discardedAmendmentsLabel.innerHTML = discardedAmendments.replace(/\n/, '<br>');
		discardedProvisionLabel.innerHTML = discardedProvision.replace(/\n/, '<br>');
	};

	document.addEventListener('DOMContentLoaded', function () {
		function adjustOffcanvasWidth() {
				const rect = amendmentContentDiv.getBoundingClientRect();
				offcanvas.style.width = `${rect.left}px`; // Set the width
			}
    	adjustOffcanvasWidth();
		window.addEventListener('resize', adjustOffcanvasWidth);
	});

	document.getElementById('parallel-switch').addEventListener('change', function(event) {
		updateColumns(selectedKey);
		addEventToQuotations()
	});


	function findAdjacentAmendment(direction) {
		const currentActive = document.querySelector('.list-group-item.active');
		if (!currentActive) return null;

		const allAmendments = Array.from(document.querySelectorAll('.list-group-item'));
		const currentIndex = allAmendments.indexOf(currentActive);

		if (direction === 'next') {
			return allAmendments[currentIndex + 1] || allAmendments[0];
		} else if (direction === 'prev') {
			return allAmendments[currentIndex - 1] || allAmendments[allAmendments.length - 1];
		}
	}

	function navigateToAmendment(direction) {
		const targetAmendment = findAdjacentAmendment(direction);
		if (targetAmendment) {
			targetAmendment.click(); // Simulate a click on the target amendment
			targetAmendment.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
		}
	}

	document.addEventListener('keydown', function(event) {
		// if (event.altKey) {
		if (!document.activeElement.matches('#titolo, #sintesi')) {
			let targetAmendment;
			if (event.key === 'ArrowRight' || event.key === 'ArrowDown') {
				event.preventDefault();
				navigateToAmendment('next');
			} else if (event.key === 'ArrowLeft' || event.key === 'ArrowUp') {
				event.preventDefault();
				navigateToAmendment('prev');
			}
		}
		// }
	});

	// Call both functions and store their promises
	const visualizationPromise = fetch_visualization_data();
	const annotationsPromise = fetch_annotation_data();

	Promise.all([fetch_visualization_data(), fetch_annotation_data()]).then((results) => {
		// results[0] will be the data returned from fetch_visualization_data
		// results[1] will be the data returned from fetch_annotation_data
		
		// Assuming visualizationData is your global variable to hold the visualization data
		visualizationData = results[0];

		// Process annotations and update visualizationData accordingly
		const annotations = results[1];
		annotations.forEach(item => {
			const { idx, title, summary } = item;
			if (!visualizationData.amendments_data[idx]) {
				visualizationData.amendments_data[idx] = {};
			}
			visualizationData.amendments_data[idx]['titolo'] = title;
			visualizationData.amendments_data[idx]['sintesi'] = summary;
		});

		// Now that both data sets are integrated, call fill_visualization
		fill_visualization();
	}).catch(error => {
		console.error("An error occurred:", error);
	});
	
	var prototypes = document.getElementsByClassName('prototype');
	
	document.addEventListener('keypress', function(e) {
		if (String.fromCharCode(e.which).toLowerCase() === 'x') {
			e.preventDefault();
		for (var i = 0; i < prototypes.length; i++) {
			prototypes[i].style.display = prototypes[i].style.display === 'block' ? 'none' : 'block';
		}
		}
	});



</script>
