<a class="text-decoration-none text-reset" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{% include ui/icon.html icon="adjustments" class="icon-sm icon-thick" %}
</a>
<div class="dropdown-menu dropdown-menu-end" style="min-width: 200px; width: max-content;">
	<label class="dropdown-item">
		<input class="form-check-input m-0 me-2" type="checkbox" value="in_corso"> In corso <span class="badge bg-green m-2"></span>
	</label>
	<label class="dropdown-item">
		<input class="form-check-input m-0 me-2" type="checkbox" value="novita"> Novità <span class="badge bg-yellow m-2"></span>
	</label>
	<label class="dropdown-item">
		<input class="form-check-input m-0 me-2" type="checkbox" value="bloccato"> Bloccato	<span class="badge bg-red m-2"></span>
	</label>
	<label class="dropdown-item">
		<input class="form-check-input m-0 me-2" type="checkbox" value="concluso_pos"> Concluso, esito positivo <span class="badge bg-blue m-2"></span>
	</label>
	<label class="dropdown-item">
		<input class="form-check-input m-0 me-2" type="checkbox" value="concluso_neg"> Concluso, esito negativo <span class="badge bg-muted m-2"></span>
	</label>
</div>