<a class="text-decoration-none text-reset" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{% include ui/icon.html icon="adjustments" class="icon-sm icon-thick" %}
</a>
<div class="dropdown-menu dropdown-menu-end" style="min-width: 8rem;">
	<label class="dropdown-item"  style="min-width: 8rem;">
		<input class="form-check-input m-0 me-2" type="checkbox" value="S" > Senato
	</label>
	<label class="dropdown-item"  style="min-width: 8rem;">
		<input class="form-check-input m-0 me-2" type="checkbox" value="C"> Camera
	</label>
</div>
