<div class="card card-md">
	<div class="card-body">
		<h2 class="h2 text-center mb-4">Esegui il login</h2>

		{% include forms/sign-in.html %}
	</div>

<!--	{% include ui/hr.html text="or" %}-->
	<div class="text-center text-secondary mt-3">
		Non hai un account? <a href="{{ site.base }}/sign-up.html" tabindex="-1">Registrati</a>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col" style="display: none;">{% include ui/button.html  block=true icon="brand-github" icon-color="github" text="Login with Github" %}</div>
			<div class="col" style="display: none;">{% include ui/button.html  block=true icon="brand-twitter" icon-color="twitter" text=" " %}</div>
		</div>
	</div>

</div>


