{% assign limit = include.limit | default: 8 %}
{% assign offset = include.offset | default: 0 %}
{% assign hoverable = include.hoverable | default: false %}
{% assign checked-ids = include.checked-ids | default: '' | extract: ',' %}
<div class="card{% if include.class %} {{ include.class }}{% endif %}">
	<div class="card-header">
		<h3 class="card-title">{{ include.title | default: 'Last commits' }}</h3>
	</div>
	<div class="list-group list-group-flush{% if hoverable %} list-group-hoverable{% endif %}">
			<div class="list-group-item{% if checked-ids contains forloop.index %} active{% endif %}">
				<div class="row align-items-center">


					<div class="col text-truncate">
						<a href="/app.html" class="text-reset d-block">AS000</a>
						
						<div class="d-block text-secondary text-truncate mt-n1"> Descrizione 1</div>
					</div>

				</div>
			</div>
	</div>
</div>