{% assign limit = include.limit | default: 8 %}
{% assign offset = include.offset | default: 0 %}
{% assign hoverable = include.hoverable | default: false %}
{% assign checked-ids = include.checked-ids | default: '' | extract: ',' %}
<div class="card{% if include.class %} {{ include.class }}{% endif %}">
	<div class="card-header">
		<h3 class="card-title">{{ include.title | default: 'Progetti' }}</h3>
	</div>
	<div class="list-group list-group-flush{% if hoverable %} list-group-hoverable{% endif %}">
		{% assign colors = 'green,red,yellow,x,x' | split: ',' %}
		<div class="row align-items-center">
			<div class="col-auto"><span class="badge red"></span></div>

			<div class="col text-truncate">
				<a href="#" class="text-reset d-block">Nessun progetto presente, creane uno!</a>
				<div class="d-block text-secondary text-truncate mt-n1"></div>
			</div>
			<div class="col-auto">
				<a href="#" class="list-group-item-actions"><!-- Add your star SVG icon here --></a>
			</div>
		</div>
	</div>
</div>

